<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  How to remove remembered devices
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/hub">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/setupandmanage/articlelist">How to set up and manage NHS login</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/setupandmanage/articlelist">Back to How to set up and manage NHS login</a></p>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





      <h1>
        How to remove remembered devices
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>

<p>You can remove any of your remembered devices by visiting your NHS login settings. Under the heading ‘remembered devices’ select ‘remove device’ next to the device you wish to remove from your NHS login.
</p>

<p>If you remove a device from your list of remembered devices, it means you will need to enter a security code we send to your phone any time you use NHS login on that device.
</p>


<hr>
        <h2>
        Related issues
        </h2>
    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
   <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="whatyouneed">What you need to set up an NHS login</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="remembermydevice">Remember my device and stop sending security codes</a>
    </li> 
{#      <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="removeremembereddevices">How to remove remembered devices</a>
    </li> #}
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="registrationlink">The registration confirmation link in your email does not work</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="addrecoveryemail">How to add a recovery email address</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changerecoveryemail">How to change your recovery email address</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="removerecoveryemail">How to remove your recovery email address</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changeyouremail">How to change your NHS login email address</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changeyourpassword">How to change your NHS login password</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="resetlink">The reset password link in your email does not work</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changephonenumber">How to change your registered phone number</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changephonenumberlink">The link in your email to confirm changing your phone number does not work</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="cancelchangephonenumberlink">The link in your email to cancel changing your phone number does not work</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error3001">What does error reference CID3001 mean?</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="deletenhslogin">How to delete NHS login</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="managefromnhsapp">Managing NHS login from the NHS App</a>
    </li> 
  </ol>
</nav>

    </div>
  </div>
{% endblock %}
