<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
        Passwords
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a></p>
</nav>



<div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
        
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">

          
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">



    <h2 class="app-side-nav__heading">Passwords<span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#changepassword">How to change your NHS login password</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#resetlink">The reset password link in your email does not work</a></li>

  </ul>

</nav>

        </div>

        <div class="nhsuk-grid-column-two-thirds">



  <h2 id="changepassword">How to change your NHS login password</h2>


<p>
You can change your password by visiting your <a href="https://settings.login.nhs.uk/">NHS login settings</a>. Under the heading ‘your personal information’ select ‘change password’.
</p>

<p>
You will be asked to enter your current password, and then your new one to confirm the change.
</p>

<br>
<div style="height:3px; background-color:#005eb8; border:none;"></div>
<br>
<br>

  <h2 id="resetlink">The reset password link in your email does not work</h2>
 <p>
You can reset your NHS login password if you forget what it is. We will send a reset password link to your email address. If the reset password link in your email does not work, there are a number of possible reasons why.
</p>

      <h3>Expired link – Reference CID2021</h3>

<p>
The rest password link we email to you has a time limit of 1 hour. If it has been more than 1 hour since you received the email, the reset password link will no longer work.
</p>

<p>
You need to go back to the website or app you were trying to access and enter your email address again. Send another request to reset your password. Make sure to select the reset password link in your email within the 1 hour time limit.
</p>

      <h3>Used link – Reference CID2022</h3>

<p>
The reset password link may not work because you have already used it and have successfully changed your password.
</p>

<p>
Try logging into a service using your new NHS login password.
</p>


    <h3>Broken link – Reference CID2023</h3>

<p>A broken link can happen if:</p>
    <ul>
    <li>you copy or type the link from the email and make a mistake</li>
    <li>a technical error occurs</li>
    </ul>

    <p>
    If you type the web address, check it is correct. If you paste the web address, make sure you copy the full address. If this still does not work, you can start again and send another request to reset your password.
</p>

<br>
            
<div class="nhsuk-grid-full-width" style="margin-top:32px;border-top:3px solid #005eb8"></div>
  <br>

<div id="contact" class="nhsuk-panel nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-5">
  <h2 class="nhsuk-heading-m app-feedback__heading">Did you find what you were looking for?</h2>

  <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

</div>
			<a class="nhsuk-button" href="../../contact">Continue</a>
		</div>
  </div>
</div>

          

        </div>
      </div>
    </div>
  </div>

      </main>
    </div>
{% endblock %}
