<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
How to record and upload a video
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Breadcrumb Navigation -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/">Help centre home</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/">Back to Help centre home</a>
  </p>
</nav> <!-- end nhsuk-breadcrumb -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <nav class="app-side-nav">

          <!-- one-third-side-navigation -->

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">How to record and upload a video<span
                class="nhsuk-u-visually-hidden">navigation</span></h2>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#recordvideo">How to record a short video</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#cameranotwork">Camera or sound does not work when recording a video</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#unabletorecord">Unable to record a video on your device or browser</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#unabletoreplay">Unable to replay or upload your video</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#filedamaged">What to do if your video file is damaged</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#cameraunavailable">Camera unavailable when trying to record a
                video</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#cannotrecord">What to do if you cannot record or upload a video</a>
            </li>

          </ul> <!-- end nhsuk-list -->
        </nav> <!-- end app-side-nav -->
      </div> <!-- end grid-column-one-third -->

      <!-- two-thirds-article-text -->

      <!-- How to record a short  video -->

      <div class="nhsuk-grid-column-two-thirds">

          <h2 id="recordvideo">How to record a short video</h2>

          <p>To record a good short video, make sure:</p>
          <ul>
            <li>you face the camera directly</li>
            <li>your face is clear and not covered, for example by a hat or glasses</li>
            <li>the video is not too light or dark</li>
          </ul>

          <p>Before you record your video, we will show you 4 numbers. You will be asked to tell us what the 4 numbers
            are. To do this you can say the 4 numbers, sign the numbers using British Sign Language, or write the
            numbers down and show them instead.</p>

          <p>If you ask someone to help you, make sure only your face is in the video. Only you can tell us what the
            numbers are.</p>

          <h3>Say the numbers</h3>

          <p>If you say the numbers, make sure your voice is loud and clear. It may help to write the numbers down first
            in case you forget them.</p>

          <h3>Write the numbers and show them</h3>

          <p>If you write the numbers, make sure they are clear and the paper is not held in front of your face. You
            should use a thick pen to write down the numbers.</p>

          <p>It may be easier to show the numbers before or after you look directly at the camera. We cannot approve you
            if we cannot see your face clearly in the video.</p>

          <h3>Sign the numbers using British Sign Language</h3>

          <p>If you sign the numbers, make sure your whole hand is visible and facing the camera. It may be easier to
            sign the numbers before or after you look directly at the camera.</p>

          <p>This is so we can get a clear view of both your face and hands. We cannot approve you if we cannot see your
            face clearly in the video.</p>

          <div class="article-divider"></div>

        <!-- Camera does not work when recording a video article -->

        <h2 id="cameranotwork">Camera or sound does not work when recording a video</h2>

        <p class="nhsuk-body">If the camera does not open or record sound when recording a video, this may be a problem with permissions. This may also cause a black screen to show when trying to record a video.</p>
        <p class="nhsuk-body">You should make sure the web browser on your device has camera and microphone permissions. You must also give permission for the NHS login website to access your device’s camera and microphone.</p>

        <h3 class="nhsuk-heading-m">iOS devices</h3>

        <p class="nhsuk-body">If you have an iOS device, updating the iOS operating system software on your device to a
          newer version may also help, if available. Version 11.2 iOS will always show a black screen when trying to
          open the camera. There is an <a href="https://support.apple.com/en-gb">Apple support article</a> that
          describes how to check for updates.</p>

        <h3 class="nhsuk-heading-m">Android devices</h3>

        <p class="nhsuk-body">If you have an Android device, you should avoid the ‘camera’ option when given a choice of
          applications to record the video with. You should choose a video option instead, like ‘camcorder’ or ‘capture
          video’.</p>

        <p class="nhsuk-body">
          <a href="../provewhoyouare/with/article#permission">How to give your web browser permission to access the
            camera and microphone</a>
        </p>

        <p class="nhsuk-body">
          <a href="../provewhoyouare/with/article#ourpermission">How to give our website permission to access the camera
            and microphone</a>
        </p>

        <div class="article-divider"></div>

        <!-- Unable to record a video on your device or browser -->

        <h2 id="unabletorecord">Unable to record a video on your device or browser</h2>

        <p class="nhsuk-body">If reference CID4017 is shown, this means your device or browser does not allow you to record a video. This may be because you are using a laptop or desktop computer that does not have a camera. You will need to switch to a device that does have a camera, like a smartphone or tablet.</p>

        <p class="nhsuk-body">If your device does have a camera, there may be a problem with your browser. Go back to the website or app you want to access and try using another browser. If this still does not work try another device, like a smartphone or tablet.</p>

        <p class="nhsuk-body">You only need to do this to prove who you are. Once this is done, you can use your NHS login to access websites and apps on any device.</p>

        <p class="nhsuk-body">
          <a href="../provewhoyouare/without/article">Find out how to prove who you are without using photo I.D. and a video</a>
        </p>

        <div class="article-divider"></div>

        <!-- Unable to replay or upload your video -->

        <h2 id="unabletoreplay">Unable to replay or upload your video</h2>

        <p class="nhsuk-body">If you cannot replay your video, this could be because the video format captured by your
          device camera is not supported by your browser.</p>
        <p class="nhsuk-body">We are testing ways to support additional video formats. In the meantime, users can change
          the video format of the device to a supported format.</p>

        <p class="nhsuk-body">
          For example:
          <ul>
            <li>video/mp4</li>
            <li>video/webm</li>
          </ul>
        </p>

        <p class="nhsuk-body">If this does not work, you can also try recording a video on another device. For example,
          you can use another phone or tablet that belongs to you or a family member.</p>

        <div class="article-divider"></div>

        <!-- What to do if your video file is damaged -->

          <h2 id="filedamaged">What to do if your video file is damaged</h2>

          <p class="nhsuk-body">We run a virus check on your video file before it is verified. If the file you upload is
            infected or damaged, you can try and upload another one.</p>

          <p class="nhsuk-body">If this keeps happening, there might be a problem with your device. You can try
            recording a video using a different device and upload it from there. For example, you could borrow a family
            member’s device to record and upload a video instead. Once verified, you can then use NHS login on your
            usual device as normal.</p>

          <p class="nhsuk-body">
            <a href="../provewhoyouare/without/article">Find out how to prove who you are without using photo I.D.</a>
          </p>

          <div class="article-divider"></div>

          <h2 id="cameraunavailable">Camera unavailable when trying to record a video</h2>

          <p class="nhsuk-body">If your gallery or file manager opens instead of your camera when trying to record a
            video, you may have an issue with permissions.</p>
          <p class="nhsuk-body">You must give permission for your web browser to access the camera and microphone. If
            your web browser does not have permission, you will not be given the option to use the camera.</p>
          <p class="nhsuk-body">You must also give permission for the NHS login website to access your device’s camera
            and microphone.</p>
          <p class="nhsuk-body">If this problem keeps happening even with permissions allowed, there might be a problem
            with your device. You can try opening your camera app separately to record a video.</p>

          <p class="nhsuk-body">If this does not work, you can also try recording a video on another device. For
            example, you can use another phone or tablet that belongs to you or a family member.</p>

          <p class="nhsuk-body">
            <a href="../provewhoyouare/with/article#permission">How to give your web browser permission to access the
              camera and microphone</a>
          </p>

          <p class="nhsuk-body">
            <a href="../provewhoyouare/with/article#ourpermission">How to give our website permission to access the
              camera and microphone</a>
          </p>

          <div class="article-divider"></div>

          <!-- What to do if you cannot record or upload a video -->

          <h2 id="cannotrecord">What to do if you cannot record or upload a video</h2>

          <p class="nhsuk-body">If you are registered for your GP surgery’s online services, you can use your
            registration details to prove who you are instead of using photo I.D. and a video.</p>

          <p class="nhsuk-body">
            <a href="../provewhoyouare/without/article">Find out how to prove who you are without using photo I.D.</a>
          </p>

        </div> <!-- end grid-column-two-thirds -->
      </div> <!-- end nhsuk-grid-row -->
  </main> <!-- end nhsuk-main-wrapper -->
</div> <!-- nhsuk-width-container -->

{% endblock %}