// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

@import 'patterns/search';
@import 'patterns/sidebar';
//@import 'patterns/breadcrumb';
//@import 'patterns/contents-list';
//@import 'patterns/panel';
//@import 'patterns/panel-confirmation';


// width change

.nhsuk-width-container {
  max-width:1100px
}
@media (min-width: 767px) and (max-width: 1164px){
  .nhsuk-width-container {
    margin:0 32px
  }
}

.nhsuk-header__navigation {
  max-width:1164px
}

//conditional extra email
.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    transform: scale(0.8);
    transition: 0.5s;
    
    label {
      display: block;
      margin: 0 0 3px 0;
    }
    input[type=text] {
      width: 100%;
    }
    
    input[type="radio"]:checked ~ &,
    input[type="checkbox"]:checked ~ & {
      opacity: 1;
      max-height: 100px;
      transform: scale(1);
      overflow: visible;
    }
  }

  .nhsuk-hero__wrapper {
    text-align: center;
  }

  #hero-heading {
    margin-bottom: 25px;
  }

  // Global Article Styles

  .article-divider {
    height:3px;
    background-color:#005eb8;
    border:none;
    margin: 50px 0px 50px 0px;
  }

// Header adjustment
//
// Fix for service header with a short name
.nhsuk-header__link--service-short-name {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.nhsuk-header__service-name {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
}

/// panels fexbox fixes

.nhsuk-panel-with-label__label {
  margin-left: -24px;
  margin-right: 0;
  padding: 8px 24px;
  top: -8px
}

@media print {
  .nhsuk-panel-with-label__label {
    background: none;
    color: #212b32;
    top: 0
  }
}

@media print {
  .nhsuk-panel-with-label__label {
    color: #212b32;
    fill: #212b32
  }
  .nhsuk-panel-with-label__label:active, .nhsuk-panel-with-label__label:focus, .nhsuk-panel-with-label__label:visited {
    color: #212b32
  }
}

.nhsuk-panel-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px
}

@media (max-width: 48.0525em) {
  .nhsuk-panel-group {
    margin-bottom: 24px
  }
}

.nhsuk-panel-group__item {
  display: flex
}

@media (max-width: 48.0525em) {
  .nhsuk-panel-group__item {
    flex: 0 0 100%
  }
}

@media (max-width: 48.0525em) {
  .nhsuk-panel-group__item {
    margin-bottom: 24px
  }
  .nhsuk-panel-group__item:last-child {
    margin-bottom: 0
  }
}

.nhsuk-panel-group__item .nhsuk-panel {
  margin-bottom: 0;
  margin-top: 0
}

// Button
//
// Tweaked button spacing
.nhsuk-button {
  margin-top: nhsuk-spacing(2);

  @include mq($from: desktop) {
    padding: nhsuk-spacing(2) nhsuk-spacing(3);
  }
}

// Footer
//
// A modifier to have the footer links in 3 columns
@include mq($from: desktop) {
  .nhsuk-footer__list--three-columns{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: nhsuk-spacing(4);
    -moz-column-gap: nhsuk-spacing(4);
    column-gap: nhsuk-spacing(4);
  }
}





@media (min-width: 925px) {
  .sticky-nav a.active,.sticky-nav span.active {
      border-left: 7px solid #ffb81c;
      padding-left: 10px;
      color: #212B32;
      text-decoration: none;
      font-weight: bold
  }
}

.article-section-nav-wrapper {
  position: relative
}

.article-section-nav {
  margin-bottom: 20px;
  border-bottom: 1px solid #d8dde0;
  padding-bottom: 20px;
}

@media (min-width: 1520px) {
  .article-section-nav:not(.article-section-nav--facets) {
      max-width:320px
  }
}

@media (min-width: 925px) {
  .sticky-nav {
      position: sticky;
      overflow: auto;
      top: 40px;
  }
  .article-section-nav {
      padding-bottom:0;
      padding-right: 20px;
      border: none
  }
}

.article-section-nav .article-section-nav__title {
font-weight: 600;
font-size: 20px;
font-size: 1.25rem;
line-height: 1.25;
color: #4c6272;
margin-bottom: 16px;
padding-top: 4px;
}

@media (min-width: 40.0625em) {
.article-section-nav .article-section-nav__title {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.25;
}
}

.article-section-nav .article-section-nav__section {
  margin-top: 24px
}

.article-section-nav .article-section-nav__section:first-child {
  margin-top: 0
}

.article-section-nav .article-section-nav__list {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
  font-family: "Frutiger W01",Arial,sans-serif;
  font-size: 16px;
  text-transform: none;
}

.article-section-nav .article-section-nav__list li {
  padding: 4px 0;
}

.article-section-nav .article-section-nav__list li:first-child a {
  margin-top: 0
}

.article-section-nav .article-section-nav__list a {
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  color: #005eb8;
}

.article-section-nav .article-section-nav__list a:hover {
  text-decoration: underline;
}

.article-section-nav .article-section-nav__list a:visited:hover {
color: #330072;
}


.article-section-nav .article-section-nav__list .section-numbered {
  margin-left: 20px;
  font-size: 16px
}

.article-section-nav .article-section-nav__list--tag-links {
  list-style: none;
  padding-left: 0
}

@media (max-width: 924px) {
  .article-section-nav .article-section-nav__list--tag-links {
      position:relative;
      line-height: 0;
      left: -6px;
      margin-bottom: -10px
  }

  .article-section-nav .article-section-nav__list--tag-links:after {
      clear: both;
      content: "";
      display: table
  }

  .article-section-nav .article-section-nav__list--tag-links li {
      display: inline-block;
      float: left;
      margin-left: 6px;
      margin-top: 0;
      margin-bottom: 6px
  }

  .article-section-nav .article-section-nav__list--tag-links li a {
      margin-top: 0;
      margin-bottom: 10px
  }
}

.article-section-nav .article-section-nav__menu {
  list-style: none;
  margin-top: 0;
  padding: 0;
  font-family: "Frutiger W01",Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: none
}

@media (min-width: 925px) {
  .article-section-nav .article-section-nav__menu {
      font-size:18px;
      line-height: 30px
  }
}

.article-section-nav .article-section-nav__menu:after {
  clear: both;
  content: "";
  display: table
}

.article-section-nav .article-section-nav__menu li {
  position: relative;
  display: inline-block;
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  margin: 0 3px 3px 0;
  background-color: #005EB8
}

.article-section-nav .article-section-nav__menu li a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff
}

.article-section-nav .article-section-nav__menu li a:hover,.article-section-nav .article-section-nav__menu li a:focus {
  text-decoration: none;
  color: #212B32
}

.article-section-nav .article-section-nav__menu li a:active {
  color: #374047
}

.article-section-nav .article-section-nav__menu li .active {
  box-shadow: 0 0 0 2px #ffbf33
}

.article-section-nav .article-section-nav__menu li:hover a,.article-section-nav .article-section-nav__menu li:focus a {
  text-decoration: none
}

.article-section-nav .article-section-nav__menu li.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #CBCBCB
}

.article-section-nav .article-section-nav__menu li.is-disabled a {
  color: #666;
  text-decoration: none
}

@media (max-width: 924px) {
  .article-section-nav .article-section-nav__menu li {
      margin:0 4px 4px 0
  }
}

.article-section-nav+.article-section-nav {
  margin-top: 48px
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h3,
.article-content h5,
.article-content h6 {
padding-top: 40px;
margin-top: -40px;
}

@media (max-width: 924px) {
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h3,
.article-content h5,
.article-content h6 {
  padding-top: 30px;
  margin-top: -30px;
}
}


