{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->

{% block pageTitle %}
  Mobile phone number
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Bradcrumb navigation -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a>
  </p>
</nav>

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <nav class="app-side-nav">

          <!-- one-third-side-navigation -->

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">Mobile phone number<span class="nhsuk-u-visually-hidden">navigation</span></h2>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#changemobile">How to change your mobile phone number</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#cancellink">The link to cancel changing your phone number does not work</a>
            </li>

          </ul> <!-- end nhsuk-list -->
        </nav> <!-- end app-side-nav -->
      </div> <!-- end nhsuk-grid-column-one-third -->

      <!-- Two-thirds-article-text -->

      <div class="nhsuk-grid-column-two-thirds">
        
        <!--<p>To visit your NHS login settings, you first need to log in with your NHS login details. To do this, you need access to your previous mobile phone or phone number that is currently on your NHS login.</p>-->

        <h2 id="changemobile">How to change your mobile phone number</h2>

        <!-- 
        <p>To change your mobile phone number, you first need to log in with your NHS login details. To do this, you need access to your mobile phone that is currently on your NHS login.</p>

        <p>Once logged in, select:</p>
        <ol>
          <li>'I do not have access to my mobile phone'</li>
          <li>‘Change your phone number securely'</li>       
        </ol>

        <p>If you do not know the original phone number on your account you can get us to email you a security code to verify your account.</p>

        <p>When attempting to change your phone number, you will need access to a working mobile phone with a signal. This will take you a few minutes to complete, but for security purposes the change will take 24 hours to update on your account.</p>
 
        <p>During this 24 hour period, you will only be able to access your account using your old mobile phone number if you still have access to it.</p>
         
        <p>If you have fingerprint or facial recognition settings enabled to log into the NHS app, you need to disable them. This is so that you can see the ‘Change your phone number’ option .</p>

      -->
         
      <p>When attempting to change your phone number, you first need to log in with your NHS login details. You will also need access to a working mobile phone with a signal.</p>

      <p>After entering your password, select:</p>
        <ol>
          <li>'I do not have access to my mobile phone'</li>
          <li>‘Change your phone number securely'</li>       
        </ol>

        <p>We will send a 6 digit security code to your current mobile phone number. If you do not have access to this mobile phone number on your account, you can select 'Email you a security code to verify your account'.<p>
         
        <p>This change will take you a few minutes to complete, but for security purposes the change will take 24 hours to update on your account. During this 24 hour period, you will only be able to access your account using your old mobile phone number if you still have access to it.</p>
      
        <p>If you have fingerprint or facial recognition enabled to log into the NHS App, you will need to disable it. This is so that you can see the ‘Change your phone number’ option. <a href="#"">How to disable the fingerprint or facial recognition in the NHS App</a>.</p>
         
        <div class="article-divider"></div>



        <h2 id="cancellink">The link to cancel changing your phone number does not work</h2>

        <p>To cancel changing your phone number on NHS login, you must select the confirmation link we send you. If the link does not work, there are a number of possible reasons why.</p>

        <h3>Expired link – Reference CID3002</h3>

        <p>The link to cancel changing your phone number has a time limit of 24 hours. If it has been more than 24 hours since you received the link in your email, it will no longer work.</p>
        <p>As it has been more than 24 hours, it may be too late to cancel as the phone number may have already been changed. You can check or change your phone number by visiting your <a href="https://settings.login.nhs.uk">NHS login settings</a>.</p>
        <p><a href="../contact">Contact us</a> if you did not mean to change your phone number, or you do not have access to the phone number on your NHS login.</p>

        <h3>Used link – Reference CID3003</h3>

        <p>The link to cancel changing your phone number may not work because you have already used it and have successfully cancelled changing your phone number. You can check or change your phone number by visiting your <a href="https://settings.login.nhs.uk">NHS login settings</a>.</p>

        <p>
          <a href="../contact">Contact us</a> if you do not have access to the phone number on your NHS login.
        </p>

      </div> <!-- end grid-column-two-thirds -->
    </div> <!-- end nhsuk-grid-row -->
  </main> <!-- end nhsuk-main-wrapper -->
</div> <!-- end nhsuk-width-container -->

{% endblock %}