{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->

{% block pageTitle %}
  Mobile phone number
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Bradcrumb navigation -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">Manage NHS login details</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to Manage NHS login details</a>
  </p>
</nav>

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third sticky-nav">
        <div class="article-section-nav-wrapper">
          <div class="article-section-nav">
            <h2 class="article-section-nav__title">Mobile phone number<span class="nhsuk-u-visually-hidden">navigation</span></h2>
            <nav> 
              <ol class="article-section-nav__list">
                {% if data.addMobile === 'true' %}
                <li>
                  <a class="active" href="#addmobile">How to add a mobile phone number</a>
                </li>
                {% endif %}
                <li>
                  <a class="" href="#changemobile">How to change your mobile phone number</a>
                </li>

                <li>
                  <a class="" href="#lostaccess">If you lose access to your mobile phone number</a>
                </li>

                <li>
                  <a class="" href="#cancellink">The link to cancel the update to your mobile phone number does not work</a>
                </li>

              </ol> <!-- end nhsuk-list -->
            </nav> <!-- end app-side-nav -->
          </div>
        </div>
      </div> <!-- end nhsuk-grid-column-one-third -->


      <div class="nhsuk-grid-column-two-thirds">
        {% if data.addMobile === 'true' %}
        <h2 id="addmobile">How to add a mobile phone number</h2>

        <p>You can use your mobile phone number to receive security codes when logging in.</p>
        <p>To add a mobile phone number:</p>
        <ol class="nhsuk-list nhsuk-list--number">
          <li>
            Log in to <a href="https://settings.login.nhs.uk/">your NHS account</a>.
          </li>
          <li>
            Select <strong>Login and security settings</strong>.
          </li>
          <li>
            Select <strong>Two-step verification</strong>.
          </li>
          <li>
            Select <strong>Add a mobile phone number</strong>.
          </li>
          <li>
            Follow the on-screen instructions to confirm your mobile phone number.
          </li>
        </ol>

        <div class="article-divider"></div>
        {% endif %}
      <!-- Change mobile -->

        <h2 id="changemobile">How to change your mobile phone number</h2>

        <p>To change the mobile phone number you use to receive security codes:</p>
        <ol class="nhsuk-list nhsuk-list--number">
          <li>
            Log in to <a href="https://settings.login.nhs.uk/">your NHS account</a>.
          </li>
          <li>
            Select <strong>Login and security settings</strong>.
          </li>
          <li>
            Select <strong>Two-step verification</strong>.
          </li>
          <li>
            Select <strong>Change</strong> for mobile phone number.
          </li>
          <li>
            Follow the on-screen instructions to confirm your new mobile phone number.
          </li>
        </ol>

        <div class="article-divider"></div>

        <!-- You have lost access to your mobile phone number -->

        <h2 id="lostaccess">If you lose access to your mobile phone number</h2>

        <p>If you have lost access to your mobile phone number and cannot log in another way, you can recover access to your account.</p>

        <p>When you are asked to enter your security code to log in:</p>
        <ol class="nhsuk-list nhsuk-list--number">
          <li>
            Select <strong>I cannot log in using my mobile phone</strong>.
          </li>
          <li>
            Select <strong>Change the mobile phone number I use to log in</strong>.
          </li>
          <li>
            Enter the mobile phone number you previously used to log in.
            <div class="nhsuk-details__text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6" style="width: 80%;">
              <span class="nhsuk-u-visually-hidden">Information:</span>
              <p>If you do not remember it, you can select <strong>email you a security code</strong> and enter the security code that we send to your email address.</p>
            </div>
          </li>
          <li>
            Follow the on-screen instructions to change your mobile phone number.
          </li>
        </ol>
        <p><a href="/contact-form/contact?error=CID3001">Contact us</a> if you still need help accessing your account.</p>

        <div class="article-divider"></div>

        <!-- The link to cancel changing your phone number does not work -->

        <h2 id="cancellink">The link to cancel the update to your mobile phone number does not work</h2>

        <p>To cancel the update to your mobile phone number, you must select the confirmation link we send you. If the link does not work, there are a number of possible reasons why.</p>

        <h3>Expired link – Reference CID3002</h3>

        <p>The link expires 24 hours after we email it to you.</p>
        <p>We may have already updated the mobile phone number you use to log in. In this case you would have received a confirmation email.</p>
        <p>You can check or change your login and security settings in <a href="https://settings.login.nhs.uk/">your NHS account</a>.</p>

        <p><a href="/contact-form/contact?error=CID3002">Contact us</a> if you did not mean to change your mobile phone number, or you do not have access to it.</p>

        <h3>Used link – Reference CID3003</h3>

        <p>The link will not work if you have already used it and cancelled the update.</p>
        <p>You can check or change your login and security settings in <a href="https://settings.login.nhs.uk/">your NHS account</a>.</p>
        <p><a href="/contact-form/contact?error=CID3003">Contact us</a>  if you did not mean to change your mobile phone number, or you do not have access to it.</p>

      </div> <!-- end grid-column-two-thirds -->
    </div> <!-- end nhsuk-grid-row -->
  </main> <!-- end nhsuk-main-wrapper -->
</div> <!-- end nhsuk-width-container -->

{% endblock %}