{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Email addresses
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Breadcrumb navigation -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a>
    </li>
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/manage/hub">Manage NHS login details</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to Manage NHS login details</a></p>
</nav> <!-- end breadcrumb -->

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third sticky-nav">
        <div class="article-section-nav-wrapper">
          <div class="article-section-nav">
            <h2 class="article-section-nav__title">Email addresses<span class="nhsuk-u-visually-hidden">navigation</span></h2>
            <nav> 

              <ol class="article-section-nav__list">

                <li>
                  <a class="active" href="#changeemail">How to change your NHS login email address</a>
                </li>
                <li>
                  <a href="#cannotaccess">If you cannot access the email address you used to set up your NHS login</a>
                </li>

              </ol> <!-- end nhsuk-list -->
            </nav> <!-- end app-side-nav -->
          </div>
        </div>
      </div> <!-- end grid-column-one-third -->

      <!-- Two-thirds-article-text -->

      <!-- The confirm email address link in your email does not work article -->

      <div class="nhsuk-grid-column-two-thirds">

        <!-- How to change your NHS login email address article -->

        <h2 id="changeemail">How to change your NHS login email address</h2>

        <ol>
          <!--
          <li>Login to your <a href="https://settings.login.nhs.uk/">NHS account</a>.</li>-->
          <li>Login to your <a href="https://www.prototype-nhs-login/blob/Login-and-reg-rethink/app/views/research/login-reg-rethink/enter-login-details?clientName=Settings">NHS account</a>.</li>
          <li>Select <strong>Login and security settings</strong>.</li>
          <li>Under Email and password select <strong>Change</strong> for email.</li>
          <li>Follow the on-screen instructions to change your email address.</li>
        </ol>

        <!-- <p>You can change your email address by going to your <a href="https://settings.login.nhs.uk/">NHS login settings</a>.</p>

        <p>You will be asked to enter your new email address and your password. A confirmation email will be sent to your new email address. Select the confirm email address link in the email to finish.</p> -->

        <div class="article-divider"></div>

        <h2 id="cannotaccess">If you cannot access the email address you used to set up your NHS login</h2>

        <p>If you no longer have access to your email address, <a href="#">contact us</a> so we can try to fix the problem.</p>

      </div> <!-- end grid-column-two-thirds -->
    </div> <!-- end nhsuk-grid-row -->
  </main> <!-- end nhsuk-main-wrapper --> 
</div> <!-- end nhsuk-width-container -->

{% endblock %}