<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
        Email addresses
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a></p>
</nav>



<div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
        
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">

          
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">



    <h2 class="app-side-nav__heading">Email addresses<span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#confirmemail">The confirm email address link in your email does not work</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#changeemail">How to change your NHS login email address</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#addbackup">How to add a backup email address</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#changebackup">How to change your backup email address</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#removebackup">How to remove your backup email address</a></li>

  </ul>

</nav>

        </div>

        <div class="nhsuk-grid-column-two-thirds">



  <h2 id="confirmemail">The confirm email address link in your email does not work</h2>


<p>
You need to confirm your email address when you set up an NHS login. To do this, you must select the confirm email address link we send you. If the link in your email does not work, there are a number of possible reasons why.
</p>

      <h3>Broken link – Reference CID1001</h3>
      
      <p>A broken link can happen if:
      <ul>
      <li>you copy or type the link from the email and make a mistake</li>
      <li>a technical error occurs</li>
      </ul>
      </p>

<p>
If this happens, you can try selecting the link in your email again. If you type the web address, check it is correct. If you paste the web address, make sure you copy the full address.
      </p>

      <h3>Expired link – Reference CID1002</h3>

<p>
The confirm email address link we send you has a time limit of 24 hours. If it has been more than 24 hours since you received the email, the link will not work.
</p>

<p>
You need to go back to the website or app you were trying to access and enter your email address and password again. You will be sent another confirm email address link to set up your NHS login.
</p>

      <h3>Used link – Reference CID1003</h3>

<p>
The confirm email address link may not work because you have already used it and have successfully confirmed your email address.
</p>

<p>
Try using your NHS login to log in to a website or app.
</p>

<br>
<div style="height:3px; background-color:#005eb8; border:none;"></div>
<br>
<br>

  <h2 id="changeemail">How to change your NHS login email address</h2>
 
<p>
You can change your email address by going to your <a href="https://settings.login.nhs.uk/">NHS login settings</a>. Under the heading ‘your personal information’ select ‘change email address’.
</p>

<p>
You will be asked to enter your new email address and your password. A confirmation email will be sent to your new email address. Select the confirm email address link in the email to finish.
</p>
 
 <br>
<div style="height:3px; background-color:#005eb8; border:none;"></div>
<br>
<br>

   <h2 id="addbackup">How to add a backup email address</h2>


<p>
When you first set up an NHS login you are given the option to add a backup email address. This is a second email address that you own, which will help to secure your NHS login.
</p>

<p>
For example, your backup email address can be used if you lose access to your mobile phone number. We can use it to send you a confirmation link, which will allow you to log in and change the mobile phone number on your NHS login.
</p>

<p>
We can also use your backup email address to contact you if there is suspicious activity on your NHS login.
</p>

<p>
If you did not add a backup email address when you set up your NHS login, you can do so by going to your <a href="https://settings.login.nhs.uk/">NHS login settings</a>. Go to the heading ‘backup methods’ and select ‘add email’. You can also remove or change an existing backup email address.
</p>

<br>
<div style="height:3px; background-color:#005eb8; border:none;"></div>
<br>
<br>

  <h2 id="changebackup">How to change your backup email address</h2>
 
<p>
You can change your backup email address by visiting your <a href="https://settings.login.nhs.uk/">NHS login settings</a>. Scroll down to the heading ‘backup methods’ and select ‘change email’.
</p>

<p>
You will be asked to enter your new backup email address and your password. A confirmation email will be sent to your new backup email address. Select the confirm email address link in the email to finish.
</p>
 
 <br>
<div style="height:3px; background-color:#005eb8; border:none;"></div>
<br>
<br>
   <h2 id="removebackup">How to remove your backup email address</h2>


<p>
Currently there is no method for users to remove a backup email address. You need to contact us to remove a backup email address.
</p>

<br>
            
<div class="nhsuk-grid-full-width" style="margin-top:32px;border-top:3px solid #005eb8"></div>
  <br>

<div id="contact" class="nhsuk-panel nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-5">
  <h2 class="nhsuk-heading-m app-feedback__heading">Did you find what you were looking for?</h2>

  <div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

</div>
			<a class="nhsuk-button" href="../../contact">Continue</a>
		</div>
  </div>
</div>
          

        </div>
      </div>
    </div>
  </div>

      </main>
    </div>
{% endblock %}
