{% extends 'helpcentre-detail.html' %}

{% block pageTitle %}
Mixed reference support
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Breadcrumb -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Help Centre Home</a></p>
</nav>

<!-- Main body content start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">

        <nav class="app-side-nav">

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">Mixed reference support<span class="nhsuk-u-visually-hidden">navigation</span></h2>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error0003">Reference CID0003: Our website has accessibility issues</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference1004">Reference CID1004: We do not know which website or app you are trying to access</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error2011">Reference CID2011: There may be a problem with your NHS number</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error2012">Reference CID2012: Your NHS login may have been disabled</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference2014">Reference CID2014: You cannot use your NHS login</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference2024">Reference CID2024: There is a technical issue on our side</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference7020">Reference CID7020: Unable to connect to your GP surgery’s system</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference7021">Reference CID7021: Permission to use your GP surgery’s online services</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference7022">Reference CID7022: Unable to connect to your GP surgery’s system</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error7023">Reference CID7023: Unable to connect to your GP surgery’s system</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error7024">Reference CID7024: Unable to connect to your GP surgery’s system</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error7026">Reference CID7026: Unable to connect to your GP surgery’s system</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error7027">Reference CID7027: Unable to connect to your GP surgery’s system</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error7029">Reference CID7029: We cannot connect your NHS login to your GP surgery</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#error7100">Reference CID7100: Unable to connect to your GP surgery’s system</a>
            </li>

          </ul>

        </nav> <!-- /. side-nav -->
      </div> <!-- /. one-thirds -->

      <!-- Main article body content start -->

      <div class="nhsuk-grid-column-two-thirds">

      <!-- Reference CID2011: There may be a problem with your NHS number -->

        <h2 id="error0003">Reference CID0003: Our website has accessibility issues</h2>

        <p>
          We have designed the NHS login website to be accessible and as simple as possible to understand for all users. Some content on our website does not meet the standard and we are working to fix this as soon as we can.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> if you want to report any accessibility problems that are not listed on our <a href="https://access.login.nhs.uk/accessibility" class="nhsuk-link">accessibility statement</a>, or to give us feedback on any issues you have seen. 
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID1004: We do not know which website or app you are trying to access -->

        <h2 id="reference1004">Reference CID1004: We do not know which website or app you are trying to access</h2>

        <p>If reference CID1004 is shown, this means we do not know which website or app you are trying to access. This can happen if you try to log in directly from a web search engine, bookmark or your browser history.</p>

        <p>To try again, you should go to the website or app you want to access and select Continue with NHS login.</p>

        <p>Make sure you go to the main website or app of the service you want to access. Avoid using bookmarks or links from your browser history.</p>

        <div class="article-divider"></div>

      <!-- Reference CID2011: There may be a problem with your NHS number -->

        <h2 id="error2011">Reference CID2011: There may be a problem with your NHS number</h2>

        <p>
          Every time you log in to a website or app using your NHS login, we check your NHS number. This allows us to
          connect you to your information securely.
        </p>

        <p>
          If you see reference CID2011, this can mean there is a problem with your NHS number.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can try to fix the problem. You will need to tell us the email
          address you use for your NHS login.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID2012: Your NHS login may have been disabled -->

        <h2 id="error2012">Reference CID2012: Your NHS login may have been disabled</h2>

        <p>
          Every time you log in to a website or app using your NHS login, we check your NHS number. This allows us to
          connect you to your information securely.
        </p>

        <p>
          If reference CID2012 is shown, this can mean your information has errors or it is being used by someone else.
          If this happens to you, your NHS login will be disabled.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can try to fix the problem. You will need to tell us the email
          address you use for your NHS login.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID2014: You cannot use your NHS login -->

        <h2 id="reference2014">Reference CID2014: You cannot use your NHS login</h2>

        <p>There is a problem that we are looking at. You will not be able to use your NHS login until we have fixed the problem. This is to keep your health information secure.</p>

        <p>What happens next:</p>

        <p>We will update you by email. This usually takes 2 working days.</p>

        <p>If it has been longer than 2 working days you can <a href="../contact-form/contact">contact us</a>.</p>

        <div class="article-divider"></div>

      <!-- Reference CID2024: There is a technical issue on our side -->

        <h2 id="reference2024">Reference CID2024: There is a technical issue on our side</h2>

        <p>If reference CID2024 is shown, this means we do not know what website or app you are trying to log into. This is a technical issue on our side.</p>

        <div class="article-divider"></div>

      <!-- Reference CID7020: Unable to connect to your GP surgery’s system -->

        <h2 id="reference7020">Reference CID7020: Unable to connect to your GP surgery’s system</h2>

        <p>If reference CID7020 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection.</p>

        <p>There could be a problem with your details, or with your GP surgery's system.</p>

        <p>To connect to your GP surgery’s system, ask your GP surgery for your registration details for their GP online services.</p>
        
        <p>This is only available if your GP is in England.</p>

        <p>You will need:
          <ul>
            <li>Linkage Key (sometimes called passphrase)</li>
            <li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
            <li>Account I.D.</li>
          </ul>
        </p>

        <p>Once you have these details, log into the website or app you were trying to access again. You will see the same message with reference CID7020. It will ask you to try another way to connect your NHS login to your GP surgery. Select this and then select ‘Enter your registration details’.</p>

        <div class="article-divider"></div>

      <!-- Reference CID7021: Permission to use your GP surgery’s online services -->

        <h2 id="reference7021">Reference CID7021: Permission to use your GP surgery’s online services</h2>

        <p>If reference CID7021 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection.</p>

        <p>This might be because you do not have permission from your GP to use your GP surgery’s online services.</p>

        <p>If your GP is in England, you can connect to your GP using your GP surgery's online services. You should ask your GP surgery to check if you are able to use their online services.</p>

        <div class="article-divider"></div>

      <!-- Reference CID7022: Unable to connect to your GP surgery’s system -->

        <h2 id="reference7022">Reference CID7022: Unable to connect to your GP surgery’s system</h2>

        <p>If reference CID7022 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection.</p>

        <p>There could be a problem with your details, or with your GP surgery's system.</p>

        <p>To connect to your GP surgery’s system, ask your GP surgery for your registration details for their GP online services.</p>

        <p>This is only available if your GP is in England.</p>

        <p>You will need:
          <ul>
            <li>Linkage Key (sometimes called passphrase)</li>
            <li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
            <li>Account I.D.</li>
          </ul>
        </p>

        <p>Once you have these details, log into the website or app you were trying to access again. You will see the same message with reference CID7022. It will ask you to try another way to connect your NHS login to your GP surgery. Select this and then select ‘Enter your registration details’.</p>

        <div class="article-divider"></div>

      <!-- Reference CID7023: Unable to connect to your GP surgery’s system -->

        <h2 id="error7023">Reference CID7023: Unable to connect to your GP surgery’s system</h2>

        <p>
          If reference CID7023 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection. If this happens to you, there are a number of possible reasons why.
        </p>

        <h3>You have already set up an NHS login</h3>

        <p>
          The details we use to make the connection have already been used to connect you to the website or app you were trying to visit.
        </p>

        <p>
          This can happen if you already have an NHS login with a different email address. We may have connected that NHS login to your GP surgery’s system. We can only connect one NHS login to your GP surgery’s system.
        </p>

        <p>
          If you want to change the email address on your NHS login you can do so in your
          <a href="https://settings.login.nhs.uk/" class="nhsuk-link">NHS login settings</a>.
        </p>

        <h3>The details we use are invalid</h3>

        <p>The details we use to make the connection are invalid.</p>

        <p>This can happen if:
          <ul>
            <li>you have changed GP surgery</li>
            <li>your GP surgery has changed systems</li>
            <li>you no longer have permission to use your GP surgery’s online services</li>
          </ul>
        </p>

        <p>If your GP surgery is in England, you can ask your GP for new registration details for their online services.</p>

        <p>
          <a href="../contact-form/contact">Contact us</a> if you need help or if you still have problems.
        </p>

        <div class="article-divider"></div>


      <!-- Reference CID7024: Unable to connect to your GP surgery’s system -->

        <h2 id="reference7024">Reference CID7024: Unable to connect to your GP surgery’s system</h2>

        <p>If reference CID7024 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection.</p>

        <p>This is because we are having some technical problems.  Please try again later or, if your GP surgery is in England, you could try another way to connect by asking your GP surgery for your registration details for their GP online services.</p>

        <p>You will need:
          <ul>
            <li>Linkage Key (sometimes called passphrase)</li>
            <li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
            <li>Account I.D.</li>
          </ul>
        </p>
        <p>Once you have these details, log into the website or app you were trying to access again. If you see the same message again with reference CID7024, select the option ‘if you keep getting this message’. Then select ‘Enter your registration details’.</p>

        <div class="article-divider"></div>

      <!-- Reference CID7026: Unable to connect to your GP surgery’s system -->

        <h2 id="reference7026">Reference CID7026: Unable to connect to your GP surgery’s system</h2>

        <p>If reference CID7026 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection.</p>

        <p>This could be because we are having some technical problems or your GP surgery’s system is currently unavailable. Please try again later or, if your GP surgery is in England, you could try another way to connect by asking your GP surgery for your registration details for their GP online services.</p>

        <p>You will need:
          <ul>
            <li>Linkage Key (sometimes called passphrase)</li>
            <li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
            <li>Account I.D.</li>
          </ul>
        </p>
        <p>Once you have these details, log into the website or app you were trying to access again. If you see the same message again with reference CID7026, select the option ‘if you keep getting this message’. Then select ‘Enter your registration details’.</p>

      <div class="article-divider"></div>

      <!-- Reference CID7027: Unable to connect to your GP surgery’s system -->

        <h2 id="reference7027">Reference CID7027: Unable to connect to your GP surgery’s system</h2>

        <p>If reference CID7027 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection.</p>

        <p>This could be because we are having some technical problems or your GP surgery’s system is currently unavailable. Please try again later or, if your GP surgery is in England, you could try another way to connect by asking your GP surgery for your registration details for their GP online services.</p>

        <p>You will need:
          <ul>
            <li>Linkage Key (sometimes called passphrase)</li>
            <li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
            <li>Account I.D.</li>
          </ul>
        </p>
        <p>Once you have these details, log into the website or app you were trying to access again. If you see the same message again with reference CID7027, select the option ‘if you keep getting this message’. Then select ‘Enter your registration details’.</p>

      <div class="article-divider"></div>

      <!-- Reference CID7029: We cannot connect your NHS login to your GP surgery -->

        <h2 id="error7029">Reference CID7029: We cannot connect your NHS login to your GP surgery</h2>

        <p>
          If you see reference CID7029, this means we cannot connect your NHS login to your GP surgery. There could be a
          problem with your details, or with your GP surgery's system.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can find out what is causing the problem. You will need to tell us
          the email address you use for your NHS login.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID7100: Unable to connect to your GP surgery’s system -->

        <h2 id="error7100">Reference CID7100: Unable to connect to your GP surgery’s system</h2>

        <p>
          If reference CID7100 is shown, this means the website or app you are trying to visit needs to connect to your
          GP surgery’s system and we have not been able to make that connection.
        </p>

        <p>
          There could be a problem with your details, or with your GP surgery's system.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can check you have been given the right registration details. You
          will need to tell us the email address you use for your NHS login.
        </p>
        

      </div> <!-- /. two-thirds-column -->
    </div> <!-- /. grid-row -->
  </main> <!-- /. main-wrapper -->
</div> <!-- /. widht-container -->

{% endblock %}