{% extends 'helpcentre-detail.html' %}

{% block pageTitle %}
Error messages and support
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}



<!-- Breadcrumb -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Help Centre Home</a></p>
</nav>

<!-- Main body content start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row" >
      <div class="nhsuk-grid-column-one-third sticky-nav">
        <div class="article-section-nav-wrapper">
          <div class="article-section-nav">
            <h2 class="article-section-nav__title">Error messages and support<span class="nhsuk-u-visually-hidden">navigation</span></h2>
            <nav> 
              <ol class="article-section-nav__list">

                

                {% if data.hsResearch === 'true' %}
                
                <li>
                  <a class="active" href="#dupes">There is already an account linked to my details</a>
                </li>

                <li>
                  <a class="" href="#GP-connect">There is an issue connecting to my GP</a>
                </li>

                <li>
                  <a class="" href="#email-otp">I have not received an email with a security code</a>
                </li>

                <li>
                  <a class="" href="#error2011">CID2011: There may be a problem with your NHS number</a>
                </li>

                <li>
                  <a class="" href="#error2012">CID2012: Your NHS login may have been disabled</a>
                </li>

                <li>
                  <a class="" href="#reference2014">CID2014: You cannot use your NHS login</a>
                </li>

                

                {% else %}

                <li>
                  <a class="active" href="#error2011">CID2011: There may be a problem with your NHS number</a>
                </li>

                <li>
                  <a class="" href="#error2012">CID2012: Your NHS login may have been disabled</a>
                </li>

                <li>
                  <a class="" href="#reference2014">CID2014: You cannot use your NHS login</a>
                </li>


                <li>
                  <a class="" href="#error7023">CID7023: Unable to connect to your GP surgery’s system</a>
                </li>

                <li>
                  <a class="" href="#error7029">CID7029: We cannot connect your NHS login to your GP surgery</a>
                </li>
                
                {% endif %}

          </ol>

            </nav> <!-- /. side-nav -->
          </div>
        </div>
      </div> <!-- /. one-thirds -->

      <!-- Main article body content start -->

      <div class="nhsuk-grid-column-two-thirds" >

      <!-- Reference CID0003: Our website has accessibility issues [MOVED TO LOGIN ACCESSIBILITY PAGE] -->

        <!--<h2 id="error0003">Reference CID0003: Our website has accessibility issues</h2>-->

        <!--<p>
          We have designed the NHS login website to be accessible and as simple as possible to understand for all users. Some content on our website does not meet the standard and we are working to fix this as soon as we can.
        </p>-->

        <!--<p>
          <a href="../contact-form/contact">Contact us</a> if you want to report any accessibility problems that are not listed on our <a href="https://access.login.nhs.uk/accessibility" class="nhsuk-link">accessibility statement</a>, or to give us feedback on any issues you have seen. 
        </p>-->

        <!--<div class="article-divider"></div>-->

      <!-- Reference CID2011: There may be a problem with your NHS number -->

      {% if data.hsResearch === 'true' %}

      <!-- There is already an account - top 3 issues from support November 2023 -->

      <h2 id="dupes">There is already an account linked to my details</h2>

      <p>If you try to create an account and get a message that it already exists, it may be because there is already:</p>
      <ul>
        <li>an account with the email address you tried to use</li>
        <li>an account linked to the NHS number you entered, but with a different email address</li>
      </ul>

    <p>You can try signing in with the email linked to this account.</p>
    <p>If you cannot remember the email you used, check all your email accounts for an email from: noreply@login.nhs.uk.</p>

    <details class="nhsuk-details nhsuk-expander"> <!-- /. expander start for change email -->
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Email address you use for NHS login
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <p>If you want to change the email address you use to sign into NHS login:</p>
        <ol>
          <li><a href="https://settings.login.nhs.uk/">Access your NHS account settings.</a></li>
          <li>Select <strong>Login and security settings</strong>.</li>
          <li>Under the heading for Email and password, select <strong>Change</strong> (for email).</li>
          <li>Enter your new email address.</li>
          <li>Enter the 6 digit security code we email you to confirm your new email address.</li>
        </ol>
        <p>If you no longer have access to your NHS login email address, <a href="#">contact us</a> so we can try to fix the problem.</p>
      </div>
    </details> <!-- /. expander close for change email -->
    
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Forgotten your password?
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you have forgotten your password, you can reset it:</p>
          <ol>
            <li>Visit NHS login settings and log in using the email address you used to create the account.</li>
            <li>Select <strong>Reset your password</strong>.</li>
            <li>We will send you an email with a link to reset your password.</li>
            <li>Select the link in the email to enter and confirm your new password.</li>
          </ol>
          <p>For security reasons we are unable to disclose any information about an account.</p>
          <p>If you cannot access to your NHS login settings, <a href="#">contact us</a> so we can try to fix the problem.</p>
      </div>
    </details>
    
    
    <details class="nhsuk-details nhsuk-expander"> <!-- /. expander start for delete account -->
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Delete your existing account
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <p>If you want to delete your existing account:</p>
        <ol>
          <li>Visit NHS login settings and log in using the email address and password you used to create the account.</li>
          <li>Select <strong>Login and security settings</strong>.</li>
          <li>Select <strong>Delete my NHS account</strong>.</li>
        </ol>
    
        <p>This will only delete your online NHS account and will not affect your medical records.</p>

        <p>If you cannot access to your NHS login settings, <a href="#">contact us</a> so we can try to fix the problem.</p>
      </div>
    </details> <!-- /. expander close for delete account -->

    <details class="nhsuk-details nhsuk-expander"> 
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Something else
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you need help with something not covered here, <a href="#">contact us</a> so we can try to fix the problem.</p>
      </div>
    </details>

    <div class="article-divider"></div>


    <!-- There is an issue connecting to my GP - top 3 issues from support November 2023 -->

    <h2 id="GP-connect">There is an issue connecting to my GP</h2>

    <!-- Reference CID7023: Unable to connect to your GP surgery’s system -->

    <h3 id="GP-connect">Unable to connect to your GP surgery’s system - Reference CID7023</h3>

    <p>
      If you see reference CID7023, the website or app you are trying to visit cannot connect to your GP surgery’s system. If this happens to you, there are some possible reasons why.
    </p>

      {% if data.revealDetails === 'true' %}
    
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          You have already set up an NHS login
        </span>
      </summary>
      <div class="nhsuk-details__text">
    
        <p>
          We have already used your details to connect you to the website or app you were trying to visit. This can happen if you already have an NHS login with a different email address. 
        </p>
        <p>
          We can only connect one NHS login to your GP surgery’s system.
        </p>
    
        <p>
          You can change the email address on your NHS login in your <strong>Login and security settings</strong>.
        </p>
      </div>
    </details>
    
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          We have the wrong details for you
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <p>The details we use to make the connection are wrong.</p>
    
        <p>This can happen if:
          <ul>
            <li>you have changed GP surgery</li>
            <li>your GP surgery has changed systems</li>
            <li>you no longer have permission to use your GP surgery’s online services</li>
          </ul>
        </p>
    
        <p>If your GP surgery is in England, you can ask your GP for new registration details for their online services.</p>
      </div>
    </details>


    {% else %}

    <h4>You have already set up an NHS login</h4>

    <p>
      We have already used your details to connect you to the website or app you were trying to visit. This can happen if you already have an NHS login with a different email address. 
    </p>
    <p>
      We can only connect one NHS login to your GP surgery’s system.
    </p>

    <p>
      You can change the email address on your NHS login in your <strong>Login and security settings</strong>.
    </p>

    <h4>We have the wrong details for you</h4>

    <p>The details we use to make the connection are wrong.</p>

    <p>This can happen if:
      <ul>
        <li>you have changed GP surgery</li>
        <li>your GP surgery has changed systems</li>
        <li>you no longer have permission to use your GP surgery’s online services</li>
      </ul>
    </p>

    <p>If your GP surgery is in England, you can ask your GP for new registration details for their online services.</p>

    {% endif %}

    <p>
      <a href="../contact-form/contact">Contact us</a> if you need help or if you still have problems.

  <!-- Reference CID7029: We cannot connect your NHS login to your GP surgery -->

    <h3 id="error7029">We cannot connect your NHS login to your GP surgery - Reference CID7029</h3>

    <p>
      If you see reference CID7029, this means we cannot connect your NHS login to your GP surgery. There could be a problem with your details, or with your GP surgery's system.
    </p>

    <p>
      <a href="../contact-form/contact">Contact us</a> so we can find out what is causing the problem. You will need to tell us the email address you use for your NHS login.
    </p>

    <div class="article-divider"></div>

      <!-- I did - top 3 issues from support November 2023 -->

    <h2 id="email-otp">I have not received an email with a security code</h2>

    {% if data.revealDetails === 'true' %}

    <p>If you did not receive the confirmation email we sent you, check your spam or junk folders. Also check that you entered the correct email address.</p>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If you are using Gmail (Google mail)
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <p>Make sure emails get to your inbox, by adding the email address noreply@login.nhs.uk to your contact list.</p>
    
        <p>You can also read this page on <a href="https://support.google.com/mail/answer/7015314?sjid=17584974477078910830-EU">problems sending and receiving emails in Gmail</a>.</p>
    
        <p>This will only delete your online NHS account and will not affect your medical records.</p>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If you are using Outlook, Hotmail or Live
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <p>Add the email address noreply@login.nhs.uk to your 'Safe Senders' list.</p>
  
        <p>Changes to 'Safe Senders' can take 24 hours to update. You should then receive the confirmation email within the next 24 hours.</p>

        <p>You can also read this page on <a href="https://support.microsoft.com/en-us/office/can-t-send-or-receive-email-in-outlook-com-d39e3341-8d79-4bf1-b3c7-ded602233642?ui=en-us&rs=en-us&ad=us">problems sending and receiving emails in Outlook</a>.</p>
      </div>
    </details>

    {% else %}

    <h3>I did not get the confirmation email</h3>

    <p>If you did not receive the confirmation email we sent you, check your spam or junk folders. Also check that you entered the correct email address.</p>

    <h3>If you are using Gmail (Google mail)</h3>

    <p>Make sure emails get to your inbox, by adding the email address noreply@login.nhs.uk to your contact list.</p>
    
    <p>You can also read this page on <a href="https://support.google.com/mail/answer/7015314?sjid=17584974477078910830-EU">problems sending and receiving emails in Gmail</a>.</p>

    <h3>If you are using Outlook, Hotmail or Live</h3>
  
    <p>Add the email address noreply@login.nhs.uk to your 'Safe Senders' list.</p>
  
    <p>Changes to 'Safe Senders' can take 24 hours to update. You should then receive the confirmation email within the next 24 hours.</p>

    <p>You can also read this page on <a href="https://support.microsoft.com/en-us/office/can-t-send-or-receive-email-in-outlook-com-d39e3341-8d79-4bf1-b3c7-ded602233642?ui=en-us&rs=en-us&ad=us">problems sending and receiving emails in Outlook</a>.</p>

    {% endif %}

    <p>If you still have any problems getting emails from us, ask your email provider for help.</p>

    <div class="article-divider"></div>

    <!-- Reference CID2011: There may be a problem with your NHS number -->

    <h2 id="error2011">CID2011: There may be a problem with your NHS number</h2>

    <p>
      Every time you log in to a website or app using your NHS login, we check your NHS number. This allows us to
      connect you to your information securely.
    </p>

    <p>
      If you see reference CID2011, this can mean there is a problem with your NHS number.
    </p>

    <p>
      <a href="../contact-form/contact">Contact us</a> so we can try to fix the problem. You will need to tell us the email
      address you use for your NHS login.
    </p>

    <div class="article-divider"></div>

    <!-- Reference CID2012: Your NHS login may have been disabled -->

      <h2 id="error2012">CID2012: Your NHS login may have been disabled</h2>

      <p>
        Every time you log in to a website or app using your NHS login, we check your NHS number. This allows us to
        connect you to your information securely.
      </p>

      <p>
        If reference CID2012 is shown, this can mean your information has errors or it is being used by someone else.
        If this happens to you, your NHS login will be disabled.
      </p>

      <p>
        <a href="../contact-form/contact">Contact us</a> so we can try to fix the problem. You will need to tell us the email
        address you use for your NHS login.
      </p>

      <div class="article-divider"></div>

    <!-- Reference CID2014: You cannot use your NHS login -->

      <h2 id="reference2014">CID2014: You cannot use your NHS login</h2>

      <p>There is a problem that we are looking at. You will not be able to use your NHS login until we have fixed the problem. This is to keep your health information secure.</p>

      <p>What happens next:</p>

      <p>We will update you by email. This usually takes 2 working days.</p>

      <p>If it has been longer than 2 working days you can <a href="../contact-form/contact">contact us</a>.</p>

      <div class="article-divider"></div>

      <!-- Reference CID3002: The link to cancel the update to your phone number has expired -->

      <h2 id="reference3002">CID3002: The link to cancel the update to your phone number has expired</h2>

      <p>The link to cancel the update to your phone number expires 24 hours after we email it to you.</p>
      <p>We may have already updated the phone number you use to log in. In this case you would have received a confirmation email.</p>
      <p>You can check or change your login and security settings in <a href="#">your NHS account</a>.</p>

      <p><a href="../contact-form/contact?error=CID3002">Contact us</a> if you did not mean to change your phone number, or you do not have access to it.</p>

      <div class="article-divider"></div>

      <!-- Reference CID3003: The link to cancel the update to your phone number has already been used -->

      <h2 id="reference3003">CID3003: The link to cancel the update to your phone number has already been used</h2>

      <p>The link to cancel the update to your phone number will not work if you have already used it and cancelled the update.</p>
      <p>You can check or change your login and security settings in <a href="#">your NHS account</a>.</p>
      <p><a href="../contact-form/contact?error=CID3003">Contact us</a>  if you did not mean to change your phone number, or you do not have access to it.</p>

      <div class="article-divider"></div>

      <!------------------------------------------------------------------------------------->

      {% else %}

        <h2 id="error2011">CID2011: There may be a problem with your NHS number</h2>

        <p>
          Every time you log in to a website or app using your NHS login, we check your NHS number. This allows us to
          connect you to your information securely.
        </p>

        <p>
          If you see reference CID2011, this can mean there is a problem with your NHS number.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can try to fix the problem. You will need to tell us the email
          address you use for your NHS login.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID2012: Your NHS login may have been disabled -->

        <h2 id="error2012">CID2012: Your NHS login may have been disabled</h2>

        <p>
          Every time you log in to a website or app using your NHS login, we check your NHS number. This allows us to
          connect you to your information securely.
        </p>

        <p>
          If reference CID2012 is shown, this can mean your information has errors or it is being used by someone else.
          If this happens to you, your NHS login will be disabled.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can try to fix the problem. You will need to tell us the email
          address you use for your NHS login.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID2014: You cannot use your NHS login -->

        <h2 id="reference2014">CID2014: You cannot use your NHS login</h2>

        <p>There is a problem that we are looking at. You will not be able to use your NHS login until we have fixed the problem. This is to keep your health information secure.</p>

        <p>What happens next:</p>

        <p>We will update you by email. This usually takes 2 working days.</p>

        <p>If it has been longer than 2 working days you can <a href="../contact-form/contact">contact us</a>.</p>

        <div class="article-divider"></div>

       
      <!-- Reference CID7023: Unable to connect to your GP surgery’s system -->

        <h2 id="error7023">CID7023: Unable to connect to your GP surgery’s system</h2>

        <p>
          If reference CID7023 is shown, this means the website or app you are trying to visit needs to connect to your GP surgery’s system and we have not been able to make that connection. If this happens to you, there are a number of possible reasons why.
        </p>

        <h3>You have already set up an NHS login</h3>

        <p>
          The details we use to make the connection have already been used to connect you to the website or app you were trying to visit.
        </p>

        <p>
          This can happen if you already have an NHS login with a different email address. We may have connected that NHS login to your GP surgery’s system. We can only connect one NHS login to your GP surgery’s system.
        </p>

        <p>
          If you want to change the email address on your NHS login you can do so in
          <a href="https://settings.login.nhs.uk/" class="nhsuk-link">your NHS account</a>.
        </p>

        <h3>The details we use are invalid</h3>

        <p>The details we use to make the connection are invalid.</p>

        <p>This can happen if:
          <ul>
            <li>you have changed GP surgery</li>
            <li>your GP surgery has changed systems</li>
            <li>you no longer have permission to use your GP surgery’s online services</li>
          </ul>
        </p>

        <p>If your GP surgery is in England, you can ask your GP for new registration details for their online services.</p>

        <p>
          <a href="../contact-form/contact">Contact us</a> if you need help or if you still have problems.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID7029: We cannot connect your NHS login to your GP surgery -->

        <h2 id="error7029">CID7029: We cannot connect your NHS login to your GP surgery</h2>

        <p>
          If you see reference CID7029, this means we cannot connect your NHS login to your GP surgery. There could be a
          problem with your details, or with your GP surgery's system.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can find out what is causing the problem. You will need to tell us
          the email address you use for your NHS login.
        </p>

        <div class="article-divider"></div>

      <!-- Reference CID7100: Unable to connect to your GP surgery’s system

        <h2 id="error7100">Reference CID7100: Unable to connect to your GP surgery’s system</h2>

        <p>
          If reference CID7100 is shown, this means the website or app you are trying to visit needs to connect to your
          GP surgery’s system and we have not been able to make that connection.
        </p>

        <p>
          There could be a problem with your details, or with your GP surgery's system.
        </p>

        <p>
          <a href="../contact-form/contact">Contact us</a> so we can check you have been given the right registration details. You
          will need to tell us the email address you use for your NHS login.
        </p> -->

        {% endif %}
        

      </div> <!-- /. two-thirds-column -->
    </div> <!-- /. grid-row -->
  </main> <!-- /. main-wrapper -->
</div> <!-- /. widht-container -->



{% endblock %}