<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
What to do if you cannot take or upload a video
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/takeandupload/articlelist">How to take and upload a video
</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/takeandupload/articlelist">Back to How to take and upload a video
</a></p>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





      <h1>
What to do if you cannot take or upload a video
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>

<p>
If you are registered for your GP surgery’s online services, you can use your registration details to prove who you are instead of using photo I.D. and a video. If you do not know or remember your registration details, you can ask your GP to give you them.
</p>

<p>The 3 details you need are:
<ul>
<li>Linkage Key (could be called Passphrase)</li>
<li>O.D.S. Code (could be called Organisation Code or Practice I.D.)</li>
<li>Account I.D.</li>
<ul>
</p>

<p>
If you are not registered for your GP surgery’s online services, tell your GP surgery that you want to register, and they will ask you to fill in a form. Your surgery will then give you the 3 registration details.
</p>



<hr>
        <h2>
        Related issues
        </h2>
    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
   <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="brightness">How to turn up your phone’s brightness</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="recordscan">How to record a scan of your face</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="recordvideo">How to record a short video</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="replayvideo">How to replay your short video</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="videodamaged">What to do if your video file is damaged</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="checkfacescan">How long does it take to check the automated face scan?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="checkvideo">How long does it take to check the short video?</a>
    </li> 
{#     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="cannottakevideo">What to do if you cannot take or upload a video</a>
    </li>  #}
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error4012">What does error reference CID4012 mean?</a>
    </li> 
  </ol>
</nav>

    </div>
  </div>
{% endblock %}
