<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
How to change your mobile phone number
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/mobile/articlelist">Mobile phone number</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/manage/mobile/articlelist">Back to Mobile phone number</a></p>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





      <h1>
How to change your mobile phone number
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>

<p>
You can change your phone number by visiting your <a href="https://settings.login.nhs.uk/">NHS login settings</a>. Under the heading ‘your personal information’ select ‘change phone number’.
</p>

<p>
To visit your NHS login settings, you first need to log in with your NHS login details. To do this, you need access to your previous mobile phone or phone number that is currently on your NHS login.
</p>

<p>
<a href="lostaccesstophone">I do not have access to the phone number on my NHS login</a>
</p>

<hr>
        <h2>
        Related issues
        </h2>
    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
{#        <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changephonenumber">How to change your mobile phone number</a>
    </li> #}
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="lostaccesstophone">You have lost access to your mobile phone number</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="changephonenumberlink">The change phone number link in your backup email does not work</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="cancelchangephonenumberlink">The link to cancel changing your phone number does not work</a>
    </li>
  </ol>
</nav>

    </div>
  </div>
{% endblock %}
