<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
What does error reference CID7024 mean?
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/hub">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/mixed/articlelist">Mixed error reference code support
</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/mixed/articlelist">Back to Mixed error reference code support
</a></p>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





      <h1>
What does error reference CID7024 mean?
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>

<p>
If you see the error reference code CID7024, this means the website or app you are trying to visit needs to connect to your GP surgery’s GP system and we have not been able to make that connection.
</p>

<p>
This is because we are having some technical problems. Please try again later, or you could try another way to connect by asking your GP surgery for your registration details to their GP online services.
</p>

<p>
You will need:
<ul>
<li>Linkage Key (sometimes called passphrase)</li>
<li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
<li>Account I.D.</li>
</ul>
</p>

<p>
Once you have these details, log into the website or app you were trying to access again. If you see the same error message again with reference code CID7024, select the option ‘if you keep getting this message’.
</p>

<p>
Then select ‘Enter your registration details’.
</p>


<hr>
        <h2>
        Related issues
        </h2>
    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error2011">What does error reference CID2011 mean?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error2012">What does error reference CID2012 mean?</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error2024">What does error reference CID2024 mean?</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7020">What does error reference CID7020 mean?</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7021">What does error reference CID7021 mean?</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7022">What does error reference CID7022 mean?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7023">What does error reference CID7023 mean?</a>
    </li> 
{#     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7024">What does error reference CID7024 mean?</a>
    </li>  #}
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7026">What does error reference CID7026 mean?</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7027">What does error reference CID7027 mean?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7029">What does error reference CID7029 mean?</a>
    </li> 
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7100">What does error reference CID7100 mean?</a>
    </li> 
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error8002">What does error reference CID8002 mean?</a>
    </li> 
  </ol>
</nav>

    </div>
  </div>
{% endblock %}
