<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
What does error reference CID8002 mean?
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/hub">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/mixed/articlelist">Mixed error reference code support
</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/mixed/articlelist">Back to Mixed error reference code support
</a></p>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





      <h1>
What does error reference CID8002 mean?
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>

<p>
If you see the error reference code CID8002, this is because there was a technical problem when you tried to upload a photo of your I.D.
</p>

<p>
This means your photo file failed to upload and you should try again. If this keeps happening, there might be a problem with your internet connection or device.
</p>

<p>
You can try uploading a photo using a different device or on a different internet connection. For example, you could borrow a family member’s device to take and upload a photo instead. Once you have proven who you are, you can then use NHS login on your usual device as normal.
</p>

<p>
You can also prove who you are without using photo I.D. by using the registration details from your GP surgery’s online services.
</p>

<p>
If you do not know or remember your registration details, you can ask your GP to give you them.
</p>

<p>
The 3 details you need are:
<ul>
<li>Linkage Key (sometimes called passphrase)</li>
<li>O.D.S. code (sometimes called organisation code or practice I.D.)</li>
<li>Account I.D.</li>
</ul>
</p>

<p>
If you are not registered for your GP surgery’s online services, tell your GP surgery that you want to register, and they will ask you to fill in a form. Your surgery will then give you the 3 registration details.
</p>


<hr>
        <h2>
        Related issues
        </h2>
    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error2011">What does error reference CID2011 mean?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error2012">What does error reference CID2012 mean?</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error2024">What does error reference CID2024 mean?</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7020">What does error reference CID7020 mean?</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7021">What does error reference CID7021 mean?</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7022">What does error reference CID7022 mean?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7023">What does error reference CID7023 mean?</a>
    </li> 
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7024">What does error reference CID7024 mean?</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7026">What does error reference CID7026 mean?</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7027">What does error reference CID7027 mean?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7029">What does error reference CID7029 mean?</a>
    </li> 
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error7100">What does error reference CID7100 mean?</a>
    </li> 
{#     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error8002">What does error reference CID8002 mean?</a>
    </li>  #}
  </ol>
</nav>

    </div>
  </div>
{% endblock %}
