<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
How to record a scan of your face
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/takeandupload/articlelist">How to take and upload a video
</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/takeandupload/articlelist">Back to How to take and upload a video
</a></p>
</nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





      <h1>
How to record a scan of your face
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>

<p>
When the scan starts you will see an outline of your face, and an oval. Make sure your face is inside the oval. Then simply follow the instructions given on the screen. For example, the instructions may ask you to move closer to your camera.
</p>

<p>
Our automated face scan feature uses screens that will flash and change colour. If you have a photosensitive condition and you do not want to do the scan, you can send a short video instead.
</p>



<hr>
        <h2>
        Related issues
        </h2>
    
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
  <h2 class="nhsuk-u-visually-hidden">Contents</h2>
  <ol class="nhsuk-contents-list__list">
   <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="brightness">How to turn up your phone’s brightness</a>
    </li> 
{#      <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="recordscan">How to record a scan of your face</a>
    </li>  #}
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="recordvideo">How to record a short video</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="replayvideo">How to replay your short video</a>
    </li> 
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="videodamaged">What to do if your video file is damaged</a>
    </li>
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="checkfacescan">How long does it take to check the automated face scan?</a>
    </li>
     <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="checkvideo">How long does it take to check the short video?</a>
    </li> 
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="cannottakevideo">What to do if you cannot take or upload a video</a>
    </li> 
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="error4012">What does error reference CID4012 mean?</a>
    </li> 
  </ol>
</nav>

    </div>
  </div>
{% endblock %}
