<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage and delete
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a>
  </p>
</nav> <!-- end breadcrumb navigation -->

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-one-third">
        <nav class="app-side-nav">

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">Manage and delete<span class="nhsuk-u-visually-hidden">navigation</span></h2>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#manageapps">How to manage your NHS login within websites and apps</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#delete">Delete your NHS login</a>
            </li>
            
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#closed">Your NHS login has been closed</a>

            </ul> <!-- end nhsuk-list -->
          </nav> <!-- end app-side-nav -->
        </div> <!-- end grid-column-one-third -->

      <div class="nhsuk-grid-column-two-thirds">

        <h2 id="manageapps">How to manage your NHS login in other websites and apps</h2>

        <p>Other websites or apps may offer you a different way to access your <a href="https://settings.login.nhs.uk">NHS login settings</a>.</p>

        <p>For example, in the NHS App you can change your NHS login email address, password and phone number from <strong>Manage NHS account</strong> in <strong>Account and settings</strong>.</p>
        
        <p>Contact the providers of the website or app you are using if you cannot find a way to access your NHS login settings.</p>

        <div class="article-divider"></div>

        <h2 id="how-delete">Delete your NHS login</h2>

        <h3>Using NHS login settings</h3>

        <p>To delete your NHS login:</p>

        <ol>
          <li>Visit <a href="https://prototype-nhs-login.herokuapp.com/settings/login-details/index-3">Login and security settings</a>.</li>
          <li>Select <strong>Delete my NHS login</strong>.</li>
          <li>Enter your password to confirm.</li>
        </ol>

        <h3>Using NHS App or the NHS website</h3>

        <p>To delete your NHS login from the NHS App or website:</p>

        <ol>
          <li>Log in to the NHS App or NHS website.</li>
          <li>Go to <strong>More</strong>, and select <strong>Account and settings</strong>.</li>
          <li>Go to <strong>Manage NHS account</strong>, and select <strong>Login and security settings</strong>.</li>
          <li>Select <strong>Delete my NHS login</strong>.</li>
          <li>Enter your password to confirm.</li>
        </ol>

        <h3>What happens when you delete your NHS login</h3>

        <p>After you delete your NHS login, you will not be able to use it to access any websites or apps. If you are trying to delete your account with one website or app in particular, you should contact the provider. You can then still use your NHS login to access other websites and apps.</p>

        <p>If you delete your NHS login, any websites or apps you have used with it can keep some information about you in line with their terms and conditions and privacy notice. We may also keep some information about you in line with <a href="https://account.login.nhs.uk/#/account/termsofuse/privacynotice">NHS login's privacy notice</a>.</p>

        <div class="article-divider"></div>
        
        <h2 id="closed">Your NHS login has been closed</h2>

        <p>We may have closed your NHS login account because you have not used it for over 2 years.</p>

        <p>We sent you an email to confirm we have closed your NHS login account.</p>

        <p>This will not affect your medical records and you can still create a new NHS login account.</p>

        <p><a href="https://help.login.nhs.uk/setupnhslogin/#how-to-set-up-an-nhs-login">Find out what to do if you want to set up a new NHS login account</a>.</p>

        <p>Read more about how we store your personal information on our <a href="https://access.login.nhs.uk/privacy#how-store-personal-info">data retention policy</a>.</p>

        </div> <!-- end grid-column-two-thirds -->
      </div> <!-- end nhsuk-grid-row -->
    </main> <!-- end nhsuk-main-wrapper -->
  </div> <!-- end nhsuk-width-container -->
    
{% endblock %}