<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage and delete
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a>
  </p>
</nav> <!-- end breadcrumb navigation -->

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third sticky-nav">
        <div class="article-section-nav-wrapper">
          <div class="article-section-nav">
            <h2 class="article-section-nav__title">Manage and delete<span class="nhsuk-u-visually-hidden">navigation</span></h2>
            <nav>
              <ol class="article-section-nav__list">
                <li>
                  <a class="active" href="#manageapps">How to manage your NHS login within websites and apps</a>
                </li>

                <li>
                  <a class="" href="#delete">How to delete NHS login</a>
                </li>

              </ol> <!-- end nhsuk-list -->
            </nav> <!-- end app-side-nav -->
          </div>
        </div>
      </div> <!-- end grid-column-one-third -->

      <div class="nhsuk-grid-column-two-thirds">

        <h2 id="manageapps">How to manage your NHS login within websites and apps</h2>

        <p>You should be able to manage your NHS login settings from within the websites and apps that use NHS login. Each website and app you visit may offer a different way for you to access your <a href="https://settings.login.nhs.uk">NHS login settings</a>.</p>

        <p>For example, in the NHS App you can change your NHS login email address, password and phone number from <strong>Manage NHS account</strong> in <strong>Account and settings</strong>.</p>
        <p>Contact the providers of the website or app you are using if you cannot find a way to access your NHS login settings.</p>

        <div class="article-divider"></div>

        <h2 id="delete">How to delete NHS login</h2>

        <h3>NHS login settings</h3>

        <p>You can delete your NHS login by visiting your <a href="https://settings.login.nhs.uk">NHS login settings</a>.</p>
        <p>Scroll down to the bottom and select <strong>Delete NHS login</strong>. You will be asked to enter your password to confirm.</p>

        <h3>Your NHS account</h3>

        <p>You can delete your NHS login from your NHS account. </p>

        <ol>
          <li>Log in to the NHS App or NHS website. </li>
          <li>Go to <strong>More</strong>, and select <strong>Account and settings</strong>.</li>
          <li>Go to <strong>Manage NHS account</strong>, and select <strong>Your NHS login details</strong>.</li>
          <li>Select <strong>Delete NHS login</strong>.</li>
        </ol>

        <h3>What happens when you delete your NHS login</h3>

        <p>Once you delete your NHS login, you will not be able to use it to access any websites or apps. If you are trying to delete your account with one website or app in particular, you should contact the provider directly. You may then still use your NHS login to access other websites and apps.</p>

        <p>If you delete your NHS login, any websites or apps you have used with NHS login may keep some information about you in line with their terms and conditions and privacy notice. We may also keep some information about you in line with <a href="https://account.login.nhs.uk/#/account/termsofuse/privacynotice">NHS login's privacy notice</a>.</p>

        <h3>My NHS login has been deleted</h3>

        <p>We may have deleted your NHS login because you have not used it for over 2 years.</p>
        
        <p>We will send you an email to confirm we have deleted your NHS login account.</p>

        <p><a href="https://help.login.nhs.uk/setupnhslogin/#how-to-set-up-an-nhs-login">Find out what to do if you want to set up a new NHS login account</a>.</p>

        <p>Read more about how we store your personal information on our<a href="https://account.login.nhs.uk/#/account/termsofuse/privacynotice">privacy notice</a>.</p>

        </div> <!-- end grid-column-two-thirds -->
      </div> <!-- end nhsuk-grid-row -->
    </main> <!-- end nhsuk-main-wrapper -->
  </div> <!-- end nhsuk-width-container -->
    
{% endblock %}