{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Contact us
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-app-contact-panel__heading">Contact us</h2>

    <!-- Error Summary -->

    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list">
          <li>
            <a href="#one-half">Enter your full name</a>
          </li>
          <li><a href="#two-thirds">Enter your email address</a></li>
          <li><a href="#example-longer"> Enter your message</a></li>
        </ul>
      </div>
    </div>

    <!-- Name -->

    <div class="nhsuk-form-group nhsuk-form-group--error">
      <label class="nhsuk-label" for="one-half">
        Name
      </label>
      <span id="input-with-error-message-error" class="nhsuk-error-message">
        Enter your full name
      </span>
      <input class="nhsuk-input nhsuk-u-width-one-half" id="one-half" name="one-half" type="text">
    </div>

    <!-- Email address -->

    <div class="nhsuk-form-group nhsuk-form-group--error">
      <label class="nhsuk-label" for="two-thirds">
        Email address
      </label>
      <span class="nhsuk-hint" id="input-with-hint-text-hint">
        This is the email address we will contact you on.
      </span>
      <span id="input-with-error-message-error" class="nhsuk-error-message">
        Enter your email address
      </span>
      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
    </div>

    <!-- Problem or issue -->

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="select-1">
        Problem or issue
      </label>
      <select class="nhsuk-select" id="select-1" name="select-1">
        <option style="display:none;"></option>
        <option value="1">CID1005: The NHS record we found does not match your details</option>
        <option value="2">CID3001: You have lost access to your mobile phone number</option>
        <option value="3">CID3002: Expired link - The link to cancel changing your phone number does not work</option>
        <option value="4">CID3003: Used link - The link to cancel changing your phone number does not work</option>
        <option value="5">CID7004: What to do if your registration details from your GP surgery’s online services have
          already been used</option>
        <option value="6">CID2011: There may be a problem with your NHS number</option>
        <option value="7">CID2012: Your NHS login may have been disabled</option>
        <option value="8">CID7023: You have already set up an NHS login</option>
        <option value="9">CID7029: We cannot connect your NHS login to your GP surgery</option>
        <option value="10">CID7100: Unable to connect to your GP surgery’s system</option>
      </select>
    </div>

    <!-- Website or App -->

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="website-or-app">
        Please select the website or app you are trying to visit
      </label>
      <select class="nhsuk-select" id="website-or-app" name="website-or-app">
        <option value="1" selected>Select an option</option>
        <option value="2">I am not trying to visit a website or app</option>
        <option value="3">Airmid</option>
        <option value="4">Amity</option>
        <option value="5">Ask NHS</option>
        <option value="6">Chain SMS</option>
        <option value="7">Chemist 4 U API Services</option>
        <option value="8">Co-Op Health App</option>
        <option value="9">COVID-19 App Statutory Isolation Payment gateway</option>
        <option value="10">COVID-19 National Testing Service</option>
        <option value="11">Digital Redbook</option>
        <option value="12">Doctrin platform</option>
        <option value="13">Doctorlink App</option>
        <option value="14">Echo</option>
        <option value="15">Engage Consult</option>
        <option value="16">eRedbook</option>
        <option value="17">eRS</option>
        <option value="18">Evergreen Life PHR</option>
        <option value="19">GM Patient Portal</option>
        <option value="20">HELM</option>
        <option value="21">Low Carb Program</option>
        <option value="22">My Operose Health</option>
        <option value="23">My way digital health</option>
        <option value="24">myCareCentric PHR</option>
        <option value="25">myGP</option>
        <option value="26">NHS App</option>
        <option value="27">Patient Pack</option>
        <option value="28">Patients Know Best</option>
        <option value="29">Push Doctor Website and App</option>
        <option value="30">Shielded Vulnerable People's Service</option>
        <option value="31">UHS My medical record</option>
        <option value="32">University Hospital Southampton NHS Trust</option>
        <option value="33">Vitaly eHealth Platform (Parsek)</option>
        <option value="34">Web-GP</option>
        <option value="35">The website or app I am trying to visit is not on this list</option>
      </select>
    </div>

    <!-- Message -->

    <div class="nhsuk-form-group nhsuk-form-group--error">
      <label class="nhsuk-label" for="example-longer">Message</label>
      <span class="nhsuk-hint" id="example-longer-hint">Enter as much detail as you can, including any information we may have asked you to provide.</span>
      <span id="input-with-error-message-error" class="nhsuk-error-message">Enter your message</span>
      <textarea class="nhsuk-textarea" id="example-longer" name="example-longer" rows="6" aria-describedby="example-longer-hint"></textarea>
    </div>

    <a class="nhsuk-button" href="../contact-sent">Send message</a>

  </div>
</div>
{% endblock %}