{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Contact us
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <!-- ERROR SUMMARY OPEN -->

    {% if data.state === 'error' %}

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
          <h2 class="nhsuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
            {% if data.error === "appUnselected" %}
              <li>
                <a href="#appSelectError">Select the website or app you are trying to visit</a>
              </li>
            {% elif data.error === "problemUnselected" %}
              <li>
                <a href="#problemUnselected">Select the problem</a>
              </li>
            {% elif data.error === "messageEmpty" %}
              <li>
                <a href="#messageEmpty">Describe the problem in more detail</a>
              </li>
            {% endif %}  
            </ul>
          </div>
        </div>    

    {% endif %}

    <!-- ERROR SUMMARY CLOSE -->


    <h1 class="nhsuk-app-contact-panel__heading">Contact NHS login support</h1>


    <!-- your problem text block -->

    <h2 class="nhsuk-heading-s">Your problem</h2>

    <!-- Website or app dropdown radio version-->
    <!-- Website or app dropdown radio version-->
    <!-- Website or app dropdown radio version-->
    <!-- Website or app dropdown radio version-->
    <!-- Website or app dropdown radio version-->

    <form  method="post">

        {% if data.error === "appUnselected" %}
        <fieldset class="nhsuk-fieldset">

          <div class="nhsuk-form-group nhsuk-form-group--error">
          <legend class="nhsuk-fieldset__legend">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="website-or-app">
              Which website or app are you trying to visit?
            </label>
          </legend>

          <fieldset class="nhsuk-fieldset">
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <!-- span for error message-->
          <span class="nhsuk-error-message">
            <span class="nhsuk-u-visually-hidden">Error:</span> <span id="appSelectError">Select the website or app you are trying to visit</span>
          </span>
        {% else %}
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="website-or-app">
              Which website or app are you trying to visit?
            </label>
          </legend>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
          <div class="nhsuk-radios nhsuk-radios--conditional">
        {% endif %}
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="visitNHS" name="visit" type="radio" value="app">
              <label class="nhsuk-label nhsuk-radios__label" for="visitNHS">
                NHS App
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="visitPatientAccess" name="visit" type="radio" value="unknown">
              <label class="nhsuk-label nhsuk-radios__label" for="visitPatientAccess">
                Patient Access
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="visitNHSPrescription" name="visit" type="radio" value="unknown">
              <label class="nhsuk-label nhsuk-radios__label" for="visitNHSPrescription">
                NHS Repeat Prescription App
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="visitOther" name="visit" type="radio" value="other" aria-controls="conditional-nhs-number-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="visitOther">
                Other
              </label>
            </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-nhs-number-1">
                  <div class="nhsuk-form-group">
                    <select class="nhsuk-select nhsuk-u-width-two-thirds" id="website-or-app" name="website-or-app">
                      <option value="select_an_option">Select an option</option>
                      <option value="accurx">Accurx</option>
                      <option value="accurx_patient_portal">Accurx Patient Portal</option>
                      <option value="visit_airmid">Airmid</option>
                      <option value="alder_hey__nywhere">Alder Hey @nywhere</option>
                      <option value="visit_amity">Amity</option>
                      <option value="anima_for_patients">Anima for Patients</option>
                      <option value="visit_ask_nhs">Ask First</option>
                      <option value="visit_avicenna_manage_my_meds">Avicenna - Manage My Meds</option>
                      <option value="awp_adhd_clinic_app">AWP ADHD Clinic App</option>
                      <option value="visit_baby_buddy">Baby Buddy</option>
                      <option value="badger_notes">Badger Notes</option>
                      <option value="be_part_of_research">Be Part of Research</option>
                      <option value="boots_uk_ltd">Boots UK Ltd</option>
                      <option value="visit_chain_sms">Chain SMS</option>
                      <option value="chemist4u">Chemist4U</option>
                      <option value="connect_health">Connect Health</option>
                      <option value="visit_covid-19_national_testing_service">COVID-19 National Testing Service</option>
                      <option value="day_lewis_patient_app">Day Lewis Patient App</option>
                      <option value="visit_digital_redbook">Digital Redbook</option>
                      <option value="visit_doctrin_your_digital_healthcare_service">Doctrin - Your digital healthcare service</option>
                      <option value="drdoctor">DrDoctor</option>
                      <option value="eclipse_app_">Eclipse App</option>
                      <option value="ekhuft_patient_id ">EKHUFT Patient ID</option>
                      <option value="visit_engage_consult">Engage Consult</option>
                      <option value="visit_eredbook">eRedbook</option>
                      <option value="visit_ers">eRS</option>
                      <option value="visit_evergreen_life_phr">Evergreen Life PHR</option>
                      <option value="visit_gm_patient_portal">GM Patient Portal</option>
                      <option value="healthinote">Healthinote</option>
                      <option value="visit_helm">HELM</option>
                      <option value="hero_health">Hero Health</option>
                      <option value="visit_co-op_health_app">Hey Pharmacist</option>
                      <option value="visit_inhealthcare_digital_health_platform">Inhealthcare Digital Health Platform</option>
                      <option value="visit_integrated_tracing_service">Integrated Tracing Service</option>
                      <option value="kent__medway_patient_portal">Kent &amp; Medway Patient Portal</option>
                      <option value="klinik_access">Klinik Access</option>
                      <option value="lloyds_pharmacy_direct">Lloyds Pharmacy Direct</option>
                      <option value="visit_low_carb_program">Low Carb Program</option>
                      <option value="medadvisor_uk_app">MedAdvisor UK App</option>
                      <option value="medloop">Medloop</option>
                      <option value="my_health_and_wellbeing">My Health and Wellbeing</option>
                      <option value="visit_mycarecentric_phr">myCareCentric PHR</option>
                      <option value="my_cohens">myCohens</option>
                      <option value="visit_mygp">myGP</option>
                      <option value="visit_myway_diabetes">MyWay Diabetes</option>
                      <option value="national_booking_service">National Booking Service</option>
                      <option value="visit_covid_status">NHS COVID Pass</option>
                      <option value="digital_weight_management_programme_mlcsu">NHS Midlands and Lancashire CSU</option>
                      <option value="nhs_wales_app">NHS Wales App</option>
                      <option value="nhs_w_ish">NHS W:ISH</option>
                      <option value="visit_nye_health">Nye Health</option>
                      <option value="oxcare">Oxcare</option>
                      <option value="visit_patally">Patally</option>
                      <option value="patchs">PATCHS</option>
                      <option value="patient_hub">Patient Hub</option>
                      <option value="visit_patient_pack">Patient Pack</option>
                      <option value="patient_portal">Patient Portal</option>
                      <option value="patient_triage">Patient Triage</option>
                      <option value="visit_patients_know_best">Patients Know Best</option>
                      <option value="pharmacy_website_and_bewell_app_service">Pharmacy Website and BeWell App Service</option>
                      <option value="pharmacyx">PharmacyX</option>
                      <option value="phlo_digital_pharmacy">Phlo Digital Pharmacy</option>
                      <option value="pip__southern_health_parent_information_portal">Pip (Southern Health Parent Information Portal)</option>
                      <option value="portasana">Portasana</option>
                      <option value="visit_push_doctor_website_and_app">Push Doctor Website and App</option>
                      <option value="visit_recap_health">Recap Health</option>
                      <option value="register_with_a_gp_surgery">Register with a GP Surgery</option>
                      <option value="remora2">Remora2</option>
                      <option value="rosi_and_me_care_planning_service">ROSI and Me Care Planning Service</option>
                      <option value="sapphire_clinics">Sapphire Clinics</option>
                      <option value="stsft_meditech_patient_portal">STSFT MEDITECH Patient Portal</option>
                      <option value="tameside_and_glossop_integrated_care_nhs_foundation_trust">Tameside and Glossop Integrated Care NHS Foundation Trust</option>
                      <option value="the_pharmacy_app">The Pharmacy App</option>
                      <option value="visit_uhs_my_medical_record">UHS My medical record</option>
                      <option value="viso">Viso</option>
                      <option value="v-consult">v-Consult</option>
                      <option value="visit_view_your_covid-19_vaccination_record">View your Covid-19 vaccination record</option>
                      <option value="virtually_healthcare">Virtually Healthcare</option>
                      <option value="visba_care">Visiba Care</option>
                      <option value="wales_vaccine_booking_service">Wales Vaccine Booking Service</option>
                      <option value="visit_web-gp">Web-GP</option>
                      <option value="zesty_patient_portal">Zesty Patient Portal</option>
                      <option value="visit_the_website_or_app_i_am_trying_to_visit_is_not_on_the_list">The website or app I am trying to visit is not on this list</option>
                    </select>
                  </div>
                </div>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- Radio selection for issue -->
    <!-- Radio selection for issue -->
    <!-- Radio selection for issue -->
    <!-- Radio selection for issue -->
    <!-- Radio selection for issue -->

    {% if data.error === "problemUnselected" %}
    <fieldset class="nhsuk-fieldset">
      <div class="nhsuk-form-group nhsuk-form-group--error">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs nhsuk-u-font-weight-bold">
          What problem are you having?
      </legend>
      <!-- span for error message-->
      <span class="nhsuk-error-message">
        <span class="nhsuk-u-visually-hidden">Error:</span> <span id="problemUnselected">Select the problem</span>
      </span>

      <div class="nhsuk-radios">

        <!-- conditional radios grouping start-->

        <div class="nhsuk-radios nhsuk-radios--conditional">

            <!-- below div is for the conditional reveal functionality -->

            <div class="nhsuk-radios nhsuk-radios--conditional"> 

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" type="radio" id="issue-1" name="issue" value="dupes"  aria-controls="account-issue-options">
                <label class="nhsuk-label nhsuk-radios__label" for="issue-1">
                  I already have an NHS account
                </label>
              </div>
             
              <!-- for this list to toggle, the aria controls must match the ID of the hidden conditionals -->
              <!-- below div is for the list to be able to toggle -->
  
             <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="account-issue-options">
  
                  <!-- conditional radios -->
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-1" name="issue-detail" value="first-line-password-reset">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-1">
                        I cannot remember the password I used to set up my account
                      </label>
                    </div>
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-2" name="issue-detail" value="first-line-change-mobile">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-2">
                        I cannot access my account as I have changed my mobile number
                      </label>
                    </div>
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-3" name="issue-detail" value="second-line-email-hint">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-3">
                        I cannot remember the email address I used to set up my account
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-4" name="issue-detail" value="second-line-manual-reset">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-4">
                        I cannot access the email address I used to set up my account
                      </label>
                    </div>
              </div>
        <!-- end of conditional radios -->
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-5" name="issue" type="radio" value="2">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-5">
            There is an issue connecting to my GP
          </label>
        </div>
  

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-6" name="issue" type="radio" value="3">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-6">
            I  need to change the email address linked to my NHS login account
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-7" name="issue" type="radio" value="4">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-7">
            Something else
          </label>
        </div>
      </div>
      
      </fieldset>

      {% elif data.error === "subProblemUnselected" %}
    <fieldset class="nhsuk-fieldset">
      <div class="nhsuk-form-group nhsuk-form-group--error">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs nhsuk-u-font-weight-bold">
        What problem are you having?
      </legend>

      <div class="nhsuk-radios">

        <!-- conditional radios grouping start-->

        <div class="nhsuk-radios nhsuk-radios--conditional">

            <!-- below div is for the conditional reveal functionality -->

            <div class="nhsuk-radios nhsuk-radios--conditional"> 

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" type="radio" id="issue-1" name="issue" value="dupes"  aria-controls="account-issue-options">
                <label class="nhsuk-label nhsuk-radios__label" for="issue-1">
                  I already have an NHS account
                </label>

                <!-- span for error message-->
                <span class="nhsuk-error-message">
                  <span class="nhsuk-u-visually-hidden">Error:</span> <span id="subProblemUnselected">Select the problem you are having</span>
                </span>
              </div>
             
              <!-- for this list to toggle, the aria controls must match the ID of the hidden conditionals -->
              <!-- below div is for the list to be able to toggle -->
  
             <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="account-issue-options">
  
                  <!-- conditional radios -->
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-1" name="issue-detail" value="first-line-password-reset">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-1">
                        I cannot remember the password I used to set up my account
                      </label>
                    </div>
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-2" name="issue-detail" value="first-line-change-mobile">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-2">
                        I cannot access my account as I have changed my mobile number
                      </label>
                    </div>
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-3" name="issue-detail" value="second-line-email-hint">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-3">
                        I cannot remember the email address I used to set up my account
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-4" name="issue-detail" value="second-line-manual-reset">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-4">
                        I cannot access the email address I used to set up my account
                      </label>
                    </div>
              </div>
        <!-- end of conditional radios -->
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-5" name="issue" type="radio" value="2">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-5">
            There is an issue connecting to my GP
          </label>
        </div>
  

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-6" name="issue" type="radio" value="3">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-6">
            I  need to change the email address linked to my NHS login account
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-7" name="issue" type="radio" value="4">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-7">
            Something else
          </label>
        </div>
      </div>
      
      </fieldset>
      
    {% else %}
    <fieldset class="nhsuk-fieldset">
      <div class="nhsuk-form-group">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs nhsuk-u-font-weight-bold">
        What problem are you having?
      </legend>

      <div class="nhsuk-radios">

        <!-- conditional radios grouping start-->

        <div class="nhsuk-radios nhsuk-radios--conditional">

            <!-- below div is for the conditional reveal functionality -->

            <div class="nhsuk-radios nhsuk-radios--conditional"> 

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" type="radio" id="issue-1" name="issue" value="dupes"  aria-controls="account-issue-options">
                <label class="nhsuk-label nhsuk-radios__label" for="issue-1">
                  I already have an NHS account
                </label>
              </div>
             
              <!-- for this list to toggle, the aria controls must match the ID of the hidden conditionals -->
              <!-- below div is for the list to be able to toggle -->
  
             <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="account-issue-options">
  
                  <!-- conditional radios -->
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-1" name="issue-detail" value="first-line-password-reset">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-1">
                        I cannot remember the password I used to set up my account
                      </label>
                    </div>
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-2" name="issue-detail" value="first-line-change-mobile">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-2">
                        I cannot access my account as I have changed my mobile number
                      </label>
                    </div>
  
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-3" name="issue-detail" value="second-line-email-hint">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-3">
                        I cannot remember the email address I used to set up my account
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" type="radio" id="sub-issue-4" name="issue-detail" value="second-line-manual-reset">
                      <label class="nhsuk-label nhsuk-radios__label" for="sub-issue-4">
                        I cannot access the email address I used to set up my account
                      </label>
                    </div>
              </div>
        <!-- end of conditional radios -->
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-5" name="issue" type="radio" value="2">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-5">
            There is an issue connecting to my GP
          </label>
        </div>
  

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-6" name="issue" type="radio" value="3">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-6">
            I  need to change the email address linked to my NHS login account
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="issue-7" name="issue" type="radio" value="4">
          <label class="nhsuk-label nhsuk-radios__label" for="issue-7">
            Something else
          </label>
        </div>
      </div>
      
      </fieldset>
    {% endif %}

    

    <!-- Message -->
    <!-- Message -->
    <!-- Message -->
    <!-- Message -->
    <!-- Message -->

    {% if data.error === "messageEmpty" %}
    <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="1500">
      <div class="nhsuk-form-group nhsuk-form-group--error">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="message-detail">Describe the problem in more detail</label>
        <div class="nhsuk-hint" id="message-detail-hint">Do not include personal or medical information like your NHS number or medical history.</div>
         <!-- span for error message-->
         <span class="nhsuk-error-message">
          <span class="nhsuk-u-visually-hidden">Error:</span> <span id="messageEmpty">Describe the problem in more detail</span>
        </span>
    {% else %}
    <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="1500">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="message-detail">Describe the problem in more detail</label>
        <div class="nhsuk-hint" id="message-detail-hint">Do not include personal or medical information like your NHS number or medical history.</div>
    {% endif %}
        <textarea class="nhsuk-textarea nhsuk-js-character-count" id="message-detail" name="message-detail" rows="6" aria-describedby="message-detail-hint"></textarea>
        <div class="nhsuk-hint nhsuk-character-count__message" id="message-detail-count">You have 1500 characters remaining</div>
      </div>
    </div>
    
    <!-- PRIVACY POLICY AGREEMENT -->

      
          <p class="nhsuk-body">
            View the <a href="../legal/privacy">NHS login privacy policy (opens in a new window)</a> to find out what happens to your personal information.
          </p>
        


     <!-- button -->

        <a class="nhsuk-button" href="contact-sent?hsResearch=true&reference=no">Send message</a>


    <!-- closing divs -->

      </div>
    </div>
  
{% endblock %}