{% extends 'helpcentre-detail.html' %}

{% block pageTitle %}
What to do if you do not have photo ID
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a>
    </li>
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/provewhoyouare/hub">How to prove who you are</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/provewhoyouare/hub">Back to How to prove who you are</a>
  </p>
</nav>

<!-- Main body content start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third sticky-nav">
        <div class="article-section-nav-wrapper">
          <div class="article-section-nav">
            <h2 class="article-section-nav__title">Prove who you are without photo ID<span class="nhsuk-u-visually-hidden">navigation</span></h2>
            <nav> 
              <ol class="article-section-nav__list">
                <li>
                  <a class="active" href="#howtoprovenoid">How to prove who you are without photo ID</a>
                </li>

                <li>
                  <a class="" href="#registergp">How to register for your GP surgery’s online services</a>
                </li>

                <li>
                  <a class="" href="#finddetails">How to find your registration details from your GP surgery’s online services</a>
                </li>

                <li>
                  <a class="" href="#detailsdontwork">What to do if your registration details from your GP surgery’s online services do not work</a>
                </li>

                <li>
                  <a class="" href="#detailsused">What to do if your registration details from your GP surgery’s online services have already been used</a>
                </li>

              </ol>
            </nav> <!-- /. side-nav -->
          </div>
        </div>
      </div> <!-- /. one-third side-nav -->

      <div class="nhsuk-grid-column-two-thirds">

      <!-- Two thirds article body section -->

      <!-- How to prove who you are without photo ID -->

        <h2 id="howtoprovenoid">How to prove who you are without photo ID</h2>

        <p>
          You can prove who you are without sending photo ID if your GP is in England. If you are registered for your GP surgery’s online services, you will have been given 3 registration details.
        </p>

        <p>The 3 registration details are:
          <ul>
            <li>Linkage Key (could be called Passphrase)</li>
            <li>ODS Code (could be called Organisation Code or Practice ID)</li>
            <li>Account ID</li>
          </ul>
        </p>

        <p>
          You can use these 3 registration details to prove who you are instead of using photo ID.
        </p>

        <p>
          This is not the same as the username and password you use to log into your GP surgery’s online services.
        </p>

        <p>
          Find out how you can <a href="../with/article">use photo ID to prove who you are</a> instead.
        </p>

        <div class="article-divider"></div>

      <!-- How to register for your GP surgery’s online services -->

        <h2 id="registergp">How to register for your GP surgery’s online services</h2>

        <p>
          Tell your GP surgery that you want to register for their online services. They will ask you to fill in a form.
        </p>

        <p>You will then be given 3 registration details:
          <ul>
            <li>Linkage Key (could be called Passphrase)</li>
            <li>ODS Code (could be called Organisation Code or Practice ID)</li>
            <li>Account ID</li>
          </ul>
        </p>

        <p>
          If your GP is in England, you can use these 3 registration details to prove who you are instead of sending a photo of your ID.
        </p>

        <div class="article-divider"></div>

      <!-- How to find your registration details from your GP surgery’s online services -->

        <h2 id="finddetails">How to find your registration details from your GP surgery’s online services</h2>

        <p>
          If you do not know or remember your registration details, you can ask your GP to give you them if your GP is in England. 
        </p>

        <p>The 3 details you need are:
          <ul>
            <li>Linkage Key (could be called Passphrase)</li>
            <li>ODS Code (could be called Organisation Code or Practice ID)</li>
            <li>Account ID</li>
          </ul>
        </p>

        <div class="article-divider"></div>

      <!-- What to do if your registration details from your GP surgery’s online services do not work -->

        <h2 id="detailsdontwork">What to do if your registration details from your GP surgery’s online services do not work</h2>

        <p>Your registration details from your GP surgery’s online services can be used to prove who you are if your GP is in England.</p>

        <p>If this does not work for you, there are a number of possible reasons why.</p>

          <div class="article-divider"></div>

        <!-- What to do if your registration details from your GP surgery’s online services have already been used -->

        <h2 id="detailsused">What to do if your registration details from your GP surgery’s online services have already been used</h2>

        <p>Reference CID7004 is shown when the registration details from your GP surgery’s online services have already been used to set up an NHS login. This can happen if you are trying to set up a new NHS login with a different email address.</p>

        <p>You can use the 3 registration details from your GP surgery’s online services only once to set up an NHS login. Once you have used them once, you cannot use them again on a different NHS login using a different email address.</p>
       
        <p>
          If you want to change the email address on your NHS login you can do so by going to your <a
            href="https://settings.login.nhs.uk/">NHS login settings</a>.
        </p>

        <p>
          If you think this is a mistake and you have not used your 3 registration details to set up an NHS login, you
          should <a href="../../contact-form/contact">contact us</a> for help.
        </p>

        <p>You will need to tell us the email address you use for your NHS login.</p>
      

      </div> <!-- /. two-thirds-column -->
    </div> <!-- /. grid-row -->
  </main> <!-- /. main-wrapper -->
</div> <!-- /. width-container --> 
{% endblock %}