<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
        Remembered devices
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a></p>
</nav>



<div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
        
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">

          
<nav class="app-side-nav">

  <ul class="nhsuk-list app-side-nav__list">



    <h2 class="app-side-nav__heading">Remembered devices<span class="nhsuk-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#adddevice">How to add a remembered device</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="#removedevice">How to remove a remembered device</a></li>

  </ul>

</nav>

        </div>

        <div class="nhsuk-grid-column-two-thirds">



  <h2 id="adddevice">How to add a remembered device</h2>


<p>
When you log in and enter your 6-digit security code, you have the option to select ‘remember this device and stop sending security codes’. If you select this, you will not need to enter a security code each time you log in with the same device in future.
</p>

<p>
To keep your NHS login secure, you should only do this on your own personal or trusted devices. For security, we may ask you from time to time if you still want us to remember your device.
</p>

<hr>

  <h2 id="removedevice">How to remove a remembered device</h2>
 
<p>
You can remove any of your remembered devices by going to your <a href="https://settings.login.nhs.uk">NHS login settings</a>. Under the heading ‘remembered devices’ select ‘remove device’ next to the device you want to remove from your NHS login.
</p>

<p>
If you use NHS login on that device again, you will need to enter a security code we send to your phone.
</p>
 
 
          

        </div>
      </div>
    </div>
  </div>

      </main>
    </div>
{% endblock %}
