{% extends 'helpcentre-detail.html' %}

{% block pageTitle %}
How to prove who you are
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Breadcrumb Navigation -->

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Help centre home</a></p>
      <div class="nhsuk-u-padding-bottom-5"></div>
    </nav>

    <!-- Main content start -->

    <h1 class="nhsuk-heading-xl">How to prove who you are</h1>

    <div class="nhsuk-grid-row nhsuk-panel-group">

      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/provewhoyouare/with/article",
            "heading": "Use photo I.D. to prove who you are",
            "headingLevel": 2,
            "description": "Information and advice on how to prove who you are with photo I.D."
          }) 
        }}
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/provewhoyouare/without/article",
            "heading": "What to do if you do not have photo I.D.",
            "headingLevel": 2,
            "description": "Find out how you can prove who you are without using photo I.D."
          })
        }}
      </div>

    </div> <!-- end nhsuk-panel-group -->
  </div> <!-- end nhsuk-grid-column-full -->
</div> <!-- nhsuk-grid-row -->

{% endblock %}