<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS record contact details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/manage/hub">How to manage NHS login</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/manage/hub">Back to How to manage NHS login</a>
  </p>
</nav> <!-- end breadcrumb navigation -->

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <nav class="app-side-nav">
          
          <!-- one-third-side-navigation -->

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">NHS record contact details<span class="nhsuk-u-visually-hidden">navigation</span></h2>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#details">Your NHS login details and NHS contact details</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#update">How to add or update your NHS contact details</a>
            </li>

          </ul> <!-- end nhsuk-list -->
        </nav> <!-- end app-side-nav -->
      </div> <!-- end grid-column-one-third -->

      <div class="nhsuk-grid-column-two-thirds">

        <h2 id="details">Your NHS login details and NHS contact details</h2>

        <p>When you create an NHS login account, the <a href="../mobile/article">phone number</a> and <a href="../email/article">email address</a> you use are only stored on this account. These are your NHS login details. You use them to log in to your NHS account and other healthcare apps and websites.</p>
        <p>Your NHS contact details are the details that your GP and other NHS services use to contact you.</p>

<!-- 
        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: Your NHS login details and NHS contact details</span>
              Your NHS login details and NHS contact details
            </span>
          </h3>
          <p>When you create an NHS login account, the <a href="../mobile/article">phone number</a> and <a href="../email/article">email address</a> you use are only stored on this account. These are your NHS login details. You use them to log in to your NHS account and other healthcare apps and websites.</p>
          <p>Your NHS contact details are the details that your GP and other NHS services use to contact you.</p>
        </div>

      -->
        <div class="article-divider"></div>

        <h2 id="update">How to add or update your NHS contact details</h2>
          
        <p>You can add or update the NHS contact details on your NHS record by <a href="https://settings.login.nhs.uk/manage-contact-details">logging into your NHS account</a> or by <a href="https://www.nhsapp.service.nhs.uk/login">using the NHS App</a>.</p>


        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important</span>
              Important
            </span>
          </h3>
          <p>Some NHS services, like your GP surgery, may continue to use your previous contact details. This is because there may be a delay before they check your updated NHS record.</p>
        </div>

        <p>We may send you a text or email if we find that any of the contact details on your NHS record are missing, or in an incorrect format.</p>


        </div> <!-- end grid-column-two-thirds -->
      </div> <!-- end nhsuk-grid-row -->
    </main> <!-- end nhsuk-main-wrapper -->
  </div> <!-- end nhsuk-width-container -->
    
{% endblock %}