<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
How to set up NHS login
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Breadcrumb Navigation -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/">Help centre home</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/">Back to Help centre home</a>
  </p>
</nav> <!-- end nhsuk-breadcrumb -->

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <nav class="app-side-nav">

          <!-- one-third-side-navigation -->

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">How to set up NHS login<span class="nhsuk-u-visually-hidden">navigation</span></h2>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#whatis">What is NHS login?</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#whatyouneed">What you need to set up an NHS login</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#where">Where you can use NHS login</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#know">Know how you can use NHS login</a>
            </li>

          </ul> <!-- nhsuk-list -->
        </nav> <!-- end app-side-nav -->
      </div> <!-- end grid-column-one-third -->
      
      <!-- two-thirds-article-text -->

      <!-- What is NHS login article -->

      <div class="nhsuk-grid-column-two-thirds">

        <h2 id="whatis">What is NHS login?</h2>

        <p class="nhsuk-body">NHS login lets you access a variety of digital health and care websites and apps with just one email address and password.</p>
        
        <div class="article-divider"></div>

        <!-- What you need to set up an NHS login article  --> 

        <h2 class="nhsuk-heading-l" id="whatyouneed">What you need to set up an NHS login</h2>

        <p class="nhsuk-body">You will need:
          <ul>
            <li>an email address</li>
            <li>a mobile phone number</li>
          </ul>
        </p>

        <h3 class="nhsuk-heading-m">What you need to do</h3>

        <p>A 6-digit security code will be sent to your email. You will be asked to enter this code to verify your email address and continue.</p>

        <p>Next, you will be asked to give your mobile phone number. Another 6-digit security code will be sent by text message to your mobile phone. A security code will be sent to your mobile phone every time you log in, unless you select 'remember this device and stop sending security codes'.</p>

        <p>Right now, you cannot set up NHS login without a mobile phone. We are working on this and hope to offer a solution to users who do not own a mobile phone in the future.</p>

        <h3>Additional information</h3>

        <p>To access some websites and apps, you may need to provide some additional information to prove who you are. This is so we can connect you to your NHS record and protect your health information.</p>

        <p class="nhsuk-body">This may include your:
          <ul>
            <li>date of birth</li>
            <li>NHS number</li>
            <li>name</li>
            <li>postcode</li>
          </ul>
        </p>

        <p class="nhsuk-body"><a href="../provewhoyouare/hub">More information on how to prove who you are</a></p>

        <div class="article-divider"></div>

        <!-- Where you can use NHS login article -->

        <h2 class="nhsuk-heading-l" id="where">Where you can use NHS login</h2>

        <p class="nhsuk-body">NHS login can be used on any website or app that shows the NHS login button.</p>
        <img src="/images/ContinueWith_Original.svg" width="300px" style="margin-bottom: 20px;">

        <p class="nhsuk-body">Clicking this button will let you log into or create an account with the website or app you visit.</p>

        <p class="nhsuk-body">Visit the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login webpage</a> for a full list of websites and apps that allow you to use NHS login.</p>

      </div> <!-- end nhsuk-grid-column-two-thirds -->
    </div> <!-- end nhsuk-grid-row -->
  </main> <!-- end main-wrapper -->
</div> <!-- end nhsuk-width-container -->

{% endblock %}