<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
How to set up NHS login
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

<!-- Breadcrumb Navigation -->

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="/">Help Centre Home</a>
    </li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="/">Back to Help Centre Home</a>
  </p>
</nav> <!-- end nhsuk-breadcrumb -->

<!-- Main Body Content Start -->

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <nav class="app-side-nav">

          <!-- one-third-side-navigation -->

          <ul class="nhsuk-list app-side-nav__list">

            <h2 class="app-side-nav__heading">How to set up NHS login<span class="nhsuk-u-visually-hidden">navigation</span></h2>
            
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#whatis">What is NHS login?</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#howto">How to set up an NHS login</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#whatyouneed">What you need to set up an NHS login</a>
            </li>

            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#where">Where you can use NHS login</a>
            </li>

            <!--<li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#know">Know how you can use NHS login</a>
            </li>-->

            <!--<li class="app-side-nav__item">
              <a class="app-side-nav__link" href="#reference1006">Reference CID1006: You may already have an NHS login</a>
            </li>-->

          </ul> <!-- nhsuk-list -->
        </nav> <!-- end app-side-nav -->
      </div> <!-- end grid-column-one-third -->
      
      <!-- two-thirds-article-text -->

      <!-- What is NHS login article -->

      <div class="nhsuk-grid-column-two-thirds">

        <h2 id="whatis">What is NHS login?</h2>

        <p class="nhsuk-body">NHS login allows you to access lots of different health and care websites and apps with just one set of login details. You can securely access many digital health and care services with one email address and password.</p>
        
        <div class="article-divider"></div>

        <!-- How to set up article  --> 
        
        <div class="nhsuk-grid-column-two-thirds">

        <h2 id="howto">How to set up an NHS login</h2>

        <p class="nhsuk-body">You must access a health and care xwebsite or app before you can set up an NHS login. Many of them will show the NHS login button.</p>

        <img src="/images/ContinueWith_Original.svg" width="300px" style="margin-bottom: 20px;">

        <p class="nhsuk-body">You can select this button on your chosen website or app to log in, or to create an NHS login.</p>

        <div class="article-divider"></div>

        <!-- Where you can use NHS login article -->

        <h2 class="nhsuk-heading-l" id="where">Where you can use NHS login</h2>

        <p class="nhsuk-body">There are lots of health and care websites and apps that allow you to use NHS login. These include NHS services, online pharmacies, patient access services, and online consultation services.</p>

        <p class="nhsuk-body"><a href="https://www.nhs.uk/nhs-services/online-services/nhs-log-in/websites-and-apps-you-can-access-with-nhs-login/">List of websites and apps you can access with NHS login</a>.</p>

        <!-- What you need to set up an NHS login article  --> 

        <h2 class="nhsuk-heading-l" id="whatyouneed">What you need to set up an NHS login</h2>

        <p class="nhsuk-body">You will need:
          <ul>
            <li>an email address</li>
            <li>a mobile phone number</li>
          </ul>
        </p>

        <h3 class="nhsuk-heading-m">What you need to do</h3>

        <p>A 6-digit security code will be sent to your email. You will be asked to enter this code to verify your email address and continue.</p>

        <p>Next, you will be asked to give your mobile phone number. Another 6-digit security code will be sent by text message to your mobile phone. A security code will be sent to your mobile phone every time you log in, unless you select ‘remember this device and stop sending security codes’.</p>

        <p>Right now, you cannot set up NHS login without a mobile phone. We are working on this and hope to offer a solution to users who do not own a mobile phone in the future.</p>

        <h3>Additional information</h3>

        <p>To access some websites and apps, you may need to provide some additional information to prove who you are. This is so we can connect you to your NHS record and protect your health information.</p>

        <p class="nhsuk-body">This may include your:
          <ul>
            <li>date of birth</li>
            <li>NHS number</li>
            <li>name</li>
            <li>postcode</li>
          </ul>
        </p>

        <p class="nhsuk-body"><a href="../provewhoyouare/hub">More information on how to prove who you are</a></p>

        <!--<div class="article-divider"></div>

        //NHS Number duplicate accounts errror

        <h2 class="nhsuk-heading-l" id="reference1006">Reference CID1006: You may already have an NHS login</h2>

        <p class="nhsuk-body">Your NHS number can be linked to just one NHS login account. If you already have an NHS login with one email address, and you have linked your NHS number to it, you cannot do it again with a new NHS login using another email address.
        <p>If you see an error page with reference CID1006, this means you already have an NHS login with a linked NHS number, but you are trying to set up a new one.</p>

        <p>You may have created an NHS login before when registering for a service, like COVID-19 testing. If you remember these details, go back to the website or app you were trying to visit and enter these to log in.</p>

        <p><a href="https://support-nhslogin.herokuapp.com/contact-form/contact">Contact us</a> if you need help or if you still have problems.NHS login can be used on any website or app that shows the NHS login button.</p>
        --> 



      </div> <!-- end nhsuk-grid-column-two-thirds -->
    </div> <!-- end nhsuk-grid-row -->
  </main> <!-- end main-wrapper -->
</div> <!-- end nhsuk-width-container -->

{% endblock %}