{% extends 'helpcentre-detail.html' %}

{% block pageTitle %}
How to prove who you are
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #F0F4F5">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Help centre home</a></p>
    </nav>

    <h1>
      How to prove who you are
    </h1>

    <div class="nhsuk-grid-row nhsuk-card-group">
      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <a class="nhsuk-card__link-wrapper" href="/provewhoyouare/with/article">
            <div class="nhsuk-card__content">
              <div class="visual-hub-box-content-text">
                <h2 class="nhsuk-card__heading">Use photo I.D. to prove who you are</h2>
                <p class="nhsuk-card__description">Information and advice on how to prove who you are with photo I.D.
                </p>
              </div>
              <img src="/images/IdentitySVGBlue.svg" alt="Use photo I.D. to prove who you are"
                class="visual-hub-box-content-img">
            </div>
          </a>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <a class="nhsuk-card__link-wrapper" href="/provewhoyouare/without/article">
            <div class="nhsuk-card__content">
              <div class="visual-hub-box-content-text">
                <h2 class="nhsuk-card__heading">What to do if you do not have photo I.D.</h2>
                <p class="nhsuk-card__description">Find out how you can prove who you are without using photo I.D.</p>
              </div>
              <img src="/images/HospitalSVGBlue.svg" alt="What to do if you do not have photo I.D."
                class="visual-hub-box-content-img">
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}