{% extends 'helpcentre-detail.html' %}

{% block pageTitle %}
How to manage NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb" style="background-color: #ffffff00">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Help centre home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Help centre home</a></p>
</nav>



      <h1>
        How to manage NHS login
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"></span>
      </h1>



<div class="nhsuk-grid-row nhsuk-card-group">
  <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card">
      <a class="nhsuk-card__link-wrapper" href="/manage/passwords/article">
        <div class="nhsuk-card__content">
          <div class="visual-hub-box-content-text">
            <h2 class="nhsuk-card__heading">Passwords</h2>
            <p class="nhsuk-card__description">How to change your password and what to do if you have problems.</p>
          </div>
          <img src="/images/PadlockSVGBlue.svg" alt="Passwords" class="visual-hub-box-content-img">
        </div>
      </a>
    </div>
  </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card">
      <a class="nhsuk-card__link-wrapper" href="/manage/email/article">
        <div class="nhsuk-card__content">
          <div class="visual-hub-box-content-text">
            <h2 class="nhsuk-card__heading">Email addresses</h2>
            <p class="nhsuk-card__description">How to change your NHS login email address and add a backup email address.</p>
          </div>
          <img src="/images/MailSVGBlue.svg" alt="Email addresses" class="visual-hub-box-content-img">
        </div>
      </a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card">
      <a class="nhsuk-card__link-wrapper" href="/manage/mobile/article">
        <div class="nhsuk-card__content">
          <div class="visual-hub-box-content-text">
            <h2 class="nhsuk-card__heading">Mobile phone number</h2>
            <p class="nhsuk-card__description">How to change your mobile phone number and what to do if you have problems.</p>
          </div>
          <img src="/images/CallSVGBlue.svg" alt="Mobile phone number" class="visual-hub-box-content-img">
        </div>
      </a>
    </div>
  </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card">
      <a class="nhsuk-card__link-wrapper" href="/manage/devices/article">
        <div class="nhsuk-card__content">
          <div class="visual-hub-box-content-text">
            <h2 class="nhsuk-card__heading">Remembered devices</h2>
            <p class="nhsuk-card__description">How to add or remove remembered devices from your NHS login.</p>
          </div>
          <img src="/images/TabletsuccessSVGBlue.svg" alt="Remembered devices" class="visual-hub-box-content-img">
        </div>
      </a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card">
      <a class="nhsuk-card__link-wrapper" href="/manage/delete/article">
        <div class="nhsuk-card__content">
          <div class="visual-hub-box-content-text">
            <h2 class="nhsuk-card__heading">Manage and delete</h2>
            <p class="nhsuk-card__description">How to delete NHS login and manage it from other services.</p>
          </div>
          <img src="/images/CogsSVGBlue.svg" alt="Manage and delete" class="visual-hub-box-content-img">
        </div>
      </a>
    </div>
  </div>
</div>


    </div>
  </div>
{% endblock %}
