<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'helpcentre-detail.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact us
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

  <h2 class="nhsuk-app-contact-panel__heading">Sorry, we are unable to take messages at this time</h2>


<p>You can contact us Monday to Friday, 9:30am to 4:30pm.</p>
<p>Please come back and try again during these times.</p>  
  <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    What to do if you need medical help
    </span>
  </summary>
  <div class="nhsuk-details__text">
  <span class="nhsuk-u-visually-hidden">Urgent advice: </span>
  <p>If you think it's a life-threatening emergency:</p>
  <ul>
    <li>
      <a href="tel: 999">call 999</a>
    </li>
  </ul>
  <span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>
  <p>If you do not think it's an emergency:</p>
  <ul>
    <li><a href="tel:111">call 111</a> or go to <a href="https://111.nhs.uk">111 online</a></li>
    <li>speak to a <a href="https://www.nhs.uk/service-search">pharmacist, GP or dentist</a></li>
    <li>search the <a href="https://www.nhs.uk/conditions/"> NHS website health A-Z</a> for more advice about your condition</li>
  </ul>
</div>
</details>

  			<a class="nhsuk-button" href="../contact-sent">Send message</a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
