{% extends 'layout.html' %}

{% block beforeContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-hero__wrapper">
        <center>
          <h1>NHS login help centre</h1>
          <p>
           <div class="nhsuk-header__search">
           <center>
        <button class="nhsuk-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
          <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
          </svg>
          <span class="nhsuk-u-visually-hidden">Enter search term or reference code</span>
        </button>
        <div class="nhsuk-header__search-wrap" id="wrap-search">
          <form class="nhsuk-header__search-form" id="search" action="https://www.nhs.uk/search/" method="get" role="search">
            <label class="nhsuk-u-visually-hidden" for="search-field">Enter search term or reference code</label>
            <div class="autocomplete-container" id="autocomplete-container"></div>
            <input class="nhsuk-search__input" id="search-field" name="q" type="search" placeholder="Enter search term or reference code" autocomplete="off">
            <button class="nhsuk-search__submit" type="submit">
              <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Enter search term or reference code</span>
            </button>
            <button class="nhsuk-search__close" id="close-search">
              <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Close search</span>
            </button>
          </form>
        </div>
      </div>
      </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


<div class="nhsuk-grid-row nhsuk-panel-group">
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    {{ promo({
            "href": "/whatisnhslogin/articlelist",
            "heading": "How to set up NHS login",
            "headingLevel": 2,
            "description": "Find out what NHS login is, how to set one up and where you can use it."
    }) }}
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    {{ promo({
            "href": "/setupandmanage/articlelist",
            "heading": "How to manage NHS login",
            "headingLevel": 2,
            "description": "Learn how to manage, edit and delete your NHS login."    }) }}
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    {{ promo({
            "href": "/provewith/articlelist",
            "heading": "How to prove who you are with photo I.D.",
            "headingLevel": 2,
            "description": "Steps on how to take and upload a good photo of your I.D."    }) }}
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    {{ promo({
            "href": "/provewithout/articlelist",
            "heading": "How to prove who you are without photo I.D.",
            "headingLevel": 2,
            "description": "How to get registration details from your GP surgery’s online services."    }) }}
  </div>
    <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    {{ promo({
            "href": "/takeandupload/articlelist",
            "heading": "How to take and upload a video",
            "headingLevel": 2,
            "description": "Steps on how to take and upload a video to prove who you are."    }) }}
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    {{ promo({
            "href": "/mixed/articlelist",
            "heading": "Mixed help and support",
            "headingLevel": 2,
            "description": "Technical problems, general advice and known service issues."    }) }}
  </div>
</div>


      <div class="nhsuk-u-reading-width">
        <p class="nhsuk-u-margin-bottom-0">Visit the <a href="https://service-manual.nhs.uk">NHS digital service manual</a> for guidance and examples.</p>
      </div>

    </div>
  </div>
{% endblock %}
