{% extends 'layouthub.html' %}

{% block beforeContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-hero__wrapper">
        <!-- Hero Title-->
        <h1>NHS login help centre</h1>

          <div class="nhsuk-header__searchhub">

          <!-- Search Toggle -->  
          
          <button class="nhsuk-header__search-toggle" id="toggle-search" aria-controls="search"
            aria-label="Open search">
            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              aria-hidden="true" focusable="false">
              <path
                d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
              </path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Enter search term or reference code</span>
          </button>

          <!-- Search Input and Button -->
          
          <div class="nhsuk-header__search-wrap" id="wrap-search">
            <form class="nhsuk-header__search-form" id="search" action="https://help.login.nhs.uk/search" method="get" role="search">
              <label class="nhsuk-u-visually-hidden" for="search-field">
                Enter search term or reference code
              </label>
              <!--<div class="autocomplete-container" id="autocomplete-container"></div>-->
              <!-- Search input field -->
              <input class="nhsuk-search__input" id="search-field" name="q" type="search" placeholder="Enter search term or reference code" autocomplete="off">
              <!-- Search Button -->
              <button class="nhsuk-search__submit" type="submit">
                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" focusable="false">
                  <path
                    d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                  </path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Enter search term or reference code</span>
              </button>

              <!-- Search Close -->
              
              <button class="nhsuk-search__close" id="close-search">
                <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  aria-hidden="true" focusable="false">
                  <path
                    d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                  </path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Close search</span>
              </button>

            </form> <!-- /. Form -->
          </div> <!-- /. Seach input and button -->
        </div> <!-- /. Search hub -->
      </div> <!-- /. Hero wrapper -->
    </div> <!-- /. grid row -->
  </div> <!-- /. width container -->
</section> <!-- /. nhsuk-hero section -->
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row nhsuk-panel-group">

      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ 
          promo ({
            "href": "/whatisnhslogin/article",
            "heading": "How to set up NHS login",
            "headingLevel": 2,
            "description": "Find out what NHS login is, how to set one up and where you can use it."
          }) 
        }}
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/manage/hub",
            "heading": "How to manage NHS login",
            "headingLevel": 2,
            "description": "Learn how to manage, edit and delete your NHS login."    }) }}
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/provewhoyouare/hub",
            "heading": "How to prove who you are",
            "headingLevel": 2,
            "description": "You can use photo I.D. and a video, or the registration details from your GP surgery’s online services."    }) }}
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/takeandupload/article",
            "heading": "How to record and upload a video",
            "headingLevel": 2,
            "description": "Steps on how to record and upload a video that can be used to prove who you are."    }) }}
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/mixed/article",
            "heading": "Mixed reference support",
            "headingLevel": 2,
            "description": "Technical problems, general advice and known service issues."    }) }}
      </div>
    </div>

  </div>
</div>
{% endblock %}