{% if data.research === 'true' %}

  {% extends 'layouthome.html' %}

{% else %}

  {% extends 'layout.html' %}

{% endif %}

{% block beforeContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-hero__wrapper">
        <!-- Hero Title-->
        {% if data.research === 'true' %}

        <h1 class="nhsuk-u-margin-bottom-3">How can we help you?</h1>


        {% else %}

        <h1 class="nhsuk-u-margin-bottom-3">NHS login help centre</h1>

        {% endif %}

        <div class="nhsuk-hub__search">
          
          <div class="nhsuk-header__search-wrap nhsuk-hub__search-wrap" id="wrap-search">
            <form class="nhsuk-header__search-form nhsuk-hub__search-form" id="search" action="/search" method="get" role="search">
              <label class="nhsuk-u-visually-hidden" for="search-field">
                Enter search term or reference code
              </label>
              <!-- Search input field -->
              <input autocomplete="off" class="autocomplete__input autocomplete__input--default nhsuk-hub__search-input" id="search-field" name="q" placeholder="Enter search term or reference code" type="text">
              <!-- Search Button -->
                <button class="nhsuk-search__submit nhsuk-hub__search-submit" type="submit">
                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Enter search term or reference code</span>
              </button>
            </form>
          </div> <!-- /. nhsuk-header__search-wrap -->
        </div> <!-- /. nhsuk-hub__search-->
      </div> <!-- /. Hero wrapper -->
    </div> <!-- /. grid row -->
  </div> <!-- /. width container -->
</section> <!-- /. nhsuk-hero section -->
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% if data.research === 'true' %}

        <!-- FAQs -->

        <h2 class="nhsuk-heading-m">Frequently found issues</h2>

        <!-- How to set up NHS login panel -->

        <div class="nhsuk-card nhsuk-card--clickable cardmargin">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-s">
              <a class="nhsuk-card__link" href="#">I am not receiving my security code</a>
            </h2>
            <!-- <p class="nhsuk-card__description">lorem ipsum</p> -->
          </div>
        </div>

        <div class="nhsuk-card nhsuk-card--clickable cardmargin">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-s">
              <a class="nhsuk-card__link" href="#">My photo ID isn't working</a>
            </h2>
            <!-- <p class="nhsuk-card__description">lorem ipsum</p> -->
          </div>
        </div>
          

        <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-padding-0">

        {% else %}

        {% endif %}

    <!-- <div class="nhsuk-grid-row nhsuk-panel-group"> -->

      <!-- How to set up NHS login panel -->

      <div class="nhsuk-grid-row nhsuk-panel-group"> 
        <!-- This div wrappere ^ is NB, if removed, panel group will break and cards will not scale or wrap responsively as desired -->

        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card nhsuk-card--clickable cardmargin">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <a class="nhsuk-card__link" href="/whatisnhslogin/article">How to set up NHS login</a>
              </h2>
              <p class="nhsuk-card__description">Find out what NHS login is, how to set one up and where you can use it.</p>
            </div>
          </div>
        </div>
        <!-- How to manage NHS login panel -->
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card nhsuk-card--clickable cardmargin">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <a class="nhsuk-card__link" href="/manage/hub">How to manage NHS login</a>
              </h2>
              <p class="nhsuk-card__description">Learn how to manage, edit and delete your NHS login.</p>
            </div>
          </div>
        </div>
        <!-- How to prove who you are panel -->
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card nhsuk-card--clickable cardmargin">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <a class="nhsuk-card__link" href="/provewhoyouare/hub">How to prove who you are</a>
              </h2>
              <p class="nhsuk-card__description">You can use photo ID and a video, or the registration details from your GP surgery’s online services.</p>
            </div>
          </div>
        </div>
        <!-- How to record a video panel -->
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card nhsuk-card--clickable cardmargin">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <a class="nhsuk-card__link" href="/takeandupload/article">How to record and upload a video</a>
              </h2>
              <p class="nhsuk-card__description">Steps on how to record and upload a video that can be used to prove who you are.</p>
            </div>
          </div>
        </div>
        <!-- Mixed reference support panel -->
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card nhsuk-card--clickable cardmargin">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">
                <a class="nhsuk-card__link" href="/mixed/article">Error messages and support</a>
              </h2>
              <p class="nhsuk-card__description">Help with issues accessing the service, what it means if you see an error reference and what you can do.</p>
            </div>
          </div>
        </div>
      </div>

      
    </div> <!-- /.nhsuk-panel-group -->
  </div> <!-- /. nhsuk-grid-column-full --->
</div> <!-- /. grid-row -->

<style>
  @media screen and (max-width: 1824px) {
      .cardmargin {
          margin-bottom: 32px;
       }
  }

  @media screen and (max-width: 1024px) {
      .cardmargin {
          margin-bottom: 24px;
       }
  }
  
  </style>

{% endblock %}