{% extends 'layout.html' %}

{% block beforeContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-hero__wrapper">
        <!-- Hero Title-->
        <h1 class="nhsuk-u-margin-bottom-3">NHS login help centre</h1>

        <div class="nhsuk-hub__search">
          
          <div class="nhsuk-header__search-wrap nhsuk-hub__search-wrap" id="wrap-search">
            <form class="nhsuk-header__search-form nhsuk-hub__search-form" id="search" action="/search" method="get" role="search">
              <label class="nhsuk-u-visually-hidden" for="search-field">
                Enter search term or reference code
              </label>
              <!-- Search input field -->
              <input autocomplete="off" class="autocomplete__input autocomplete__input--default nhsuk-hub__search-input" id="search-field" name="q" placeholder="Enter search term or reference code" type="text">
              <!-- Search Button -->
                <button class="nhsuk-search__submit nhsuk-hub__search-submit" type="submit">
                <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Enter search term or reference code</span>
              </button>
            </form>
          </div> <!-- /. nhsuk-header__search-wrap -->
        </div> <!-- /. nhsuk-hub__search-->
      </div> <!-- /. Hero wrapper -->
    </div> <!-- /. grid row -->
  </div> <!-- /. width container -->
</section> <!-- /. nhsuk-hero section -->
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row nhsuk-panel-group">
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ 
          promo ({
            "href": "/whatisnhslogin/article",
            "heading": "How to set up NHS login",
            "headingLevel": 2,
            "description": "Find out what NHS login is, how to set one up and where you can use it."
          }) 
        }}
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/manage/hub",
            "heading": "How to manage NHS login",
            "headingLevel": 2,
            "description": "Learn how to manage, edit and delete your NHS login."    }) }}
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/provewhoyouare/hub",
            "heading": "How to prove who you are",
            "headingLevel": 2,
            "description": "You can use photo I.D. and a video, or the registration details from your GP surgery’s online services."    }) }}
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/takeandupload/article",
            "heading": "How to record and upload a video",
            "headingLevel": 2,
            "description": "Steps on how to record and upload a video that can be used to prove who you are."    }) }}
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
        {{ promo({
            "href": "/mixed/article",
            "heading": "Mixed reference support",
            "headingLevel": 2,
            "description": "Technical problems, general advice and known service issues."    }) }}
      </div>
    </div> <!-- /.nhsuk-panel-group -->
  </div> <!-- /. nhsuk-grid-column-full --->
</div> <!-- /. grid-row -->
{% endblock %}